{% if template contains 'index' or template contains 'collection' or template contains 'product' %}
    
{% else %}
    <style>.card-colored.color-background-1,.card.card--soft{background-color:rgba(var(--color-foreground),.04)}.card--product,.card-wrapper,.collection{position:relative}.card,.card--media,.card-wrapper,.card-wrapper-link{text-decoration:none}.card{display:block;overflow:hidden}.card-information+.card{margin-bottom:1.3rem}.price-color-swatch-wrapper{display:flex;justify-content:space-between;align-items:flex-end;flex-direction:column}.card.card--soft{color:rgb(var(--color-foreground))}.card .icon-wrap{margin-left:.8rem;white-space:nowrap;transition:transform var(--duration-short) ease;overflow:hidden}.card--media{display:block}.card--text-only{display:flex;justify-content:center}.card--text-only.card--product{position:static}.card--text-only:before{content:"";display:block;padding-bottom:100%}.card--stretch{height:100%}.card--light-border{border:.1rem solid rgba(var(--color-foreground),.04)}.card--light-border:hover{border:.1rem solid rgba(var(--color-foreground),.3);box-shadow:none}.card__text-spacing{padding:3rem}.card--media .card__text-spacing,.card__media-full-spacer{padding:2rem}@media screen and (min-width:750px){.card-information+.card{margin-bottom:10px}.card--media .card__text-spacing{padding-left:3rem;padding-right:3rem;display:none}}.card-information>*+*{margin-top:.5rem}.card--text-only .card__inner{display:grid;grid-template-rows:1fr auto 1fr;width:100%}.card__content{margin-left:2.5rem;margin-right:2.5rem}.card__content>*,.card__text-spacing>*{margin:0}.card--text-only .card__content{grid-row:2;justify-self:flex-start;margin-bottom:6rem;margin-top:5rem}.card--text-only .card__badge{align-self:flex-end;grid-row:3}.card--search .card__badge>*,.card--text-only .card__badge>*{margin:0 1.2rem 1.2rem}.card--search .card__badge,.card--text-only .card__badge{position:initial}.card--text-only .card__content+.card__badge{margin-top:-5rem}.media+.card__content{margin-top:2rem;margin-bottom:1.5rem}.card__text-spacing>:not(.overlay-card)+*{margin-top:1.5rem}.card__text{margin:0;word-break:break-word}.card-information__text{display:block;font-size:1.6rem;font-weight:700;line-height:1;margin:12px 0 10px}.price,.price--large{line-height:calc(1 + .5 / var(--font-body-scale))}.card-information__wrapper.card-information__wrapper--grid .card-information__text{grid-area:title;margin:0}.card-information__wrapper.card-information__wrapper--grid>*{line-height:calc(1 + .4 / var(--font-body-scale));color:rgb(var(--color-foreground))}.card-information__wrapper .price{font-size:1.3rem}.fa-star-half-o:before,.fa-star-o:before,.fa-star:before,.stamped-badge:before,.stamped-fa-star-half-o:before,.stamped-fa-star-o:before,.stamped-fa-star:before{font-size:13px!important}.card-information__wrapper.card-information__wrapper--grid .price{color:rgb(var(--color-foreground));grid-area:price;margin:0}.card-information__wrapper.card-information__wrapper--grid .stamped-product-reviews-badge{grid-area:reviews}.card-information__wrapper.card-information__wrapper--grid{grid-area:swatches;justify-content:end;width:100%;display:grid;grid-template-areas:"title title" "reviews reviews" "price swatches"}.card-information__wrapper.card-information__wrapper--grid>.rating{margin-top:.4rem}.card-wrapper{color:inherit;display:flex;flex-direction:column;justify-content:space-between;background-color:rgba(var(--color-base-background-2));border:1px solid rgba(var(--color-base-accent-1));height:100%;box-sizing:border-box}.card-wrapper .card-information{order:1;padding:10px}.card-wrapper.card-wrapper--grid .card-information{padding:0 5px 5px}.card-wrapper .full-unstyled-link:after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;z-index:1}.card-wrapper .full-unstyled-link:focus-visible{outline:0;box-shadow:none}.card-wrapper .full-unstyled-link:focus-visible:after{outline:.2rem solid rgba(var(--color-foreground),.5);outline-offset:.3rem;box-shadow:0 0 0 .3rem rgb(var(--color-background)),0 0 .5rem .4rem rgba(var(--color-foreground),.3)}.card-wrapper:focus-within .card{box-shadow:none}.card__media-spacer{padding:2rem 2rem 0}@media screen and (min-width:750px){.card--text-only .card__content{margin-top:7rem;margin-bottom:7rem}.card--text-only .card__content+.card__badge{margin-top:-7rem}.card-information__wrapper.card-information__wrapper--grid{grid-template-areas:"title price" "reviews swatches"}.card-information__wrapper.card-information__wrapper--grid .price{justify-content:end}.card__media-spacer{padding:3rem 3rem 0}.price{margin-bottom:0}}.card-article-info{margin-top:1rem;display:flex;flex-wrap:wrap}.card__badge{display:flex;flex-wrap:wrap;position:absolute;top:10px;left:10px}.card__badge .on-sale-badge{border:none;background-color:red;border-radius:0}.card__badge .sold-out-badge{border:none;background-color:rgba(var(--color-base-accent-1));border-radius:0;text-transform:capitalize}.overlay-card{position:absolute;top:0;bottom:0;left:0;right:0;display:flex;background:0 0;transition:background-color var(--duration-long) ease}.card:hover .card-colored .overlay-card{background-color:rgba(var(--color-card-hover),.06)}.card-information__wrapper.card-information__wrapper--grid .ProductCard-ColorSwatches{display:flex;align-items:flex-end;margin:0}.ProductCard-ColorSwatches .options-values-wrapper{display:flex;flex-wrap:wrap;gap:5px;padding-bottom:2.5px}.card-information__wrapper.card-information__wrapper--grid .ProductCard-ColorSwatches .options-values-wrapper{gap:0;padding-bottom:2.5px}@media screen and (min-width:500px){.ProductCard-ColorSwatches .options-values-wrapper{padding-bottom:1.5px}}.ProductCard-ColorSwatches{margin-top:12px}.ProductCard-ColorSwatches input[type=radio]{clip:rect(0,0,0,0);overflow:hidden;position:absolute;height:1px;width:1px}.ProductCard-ColorSwatches input[type=radio]+label{--color-swatch-size:22px;border:1px solid rgba(var(--color-base-accent-2));display:inline-block;font-size:1.4rem;letter-spacing:.1rem;line-height:1;text-align:center;transition:border var(--duration-short) ease;cursor:pointer;display:flex;justify-content:center;align-items:center;min-width:auto;height:var(--color-swatch-size);width:var(--color-swatch-size);padding:0;background-size:cover}.card-information__wrapper.card-information__wrapper--grid .ProductCard-ColorSwatches input[type=radio]+label{--color-swatch-size:13px;margin:0 0 0 8px}.ProductCard-ColorSwatches input[type=radio]+label:hover,.ProductCard-ColorSwatches input[type=radio]:checked+label{border:.1rem solid rgb(var(--color-foreground))}.stamped-badge:before{content:"("attr(data-rating) ") "!important}span.stamped-badge-caption{display:none}.stamped-badge[data-rating="0.0"]{display:none!important}.price{align-items:center;display:flex;flex-direction:row;flex-wrap:wrap;font-size:12px;color:rgb(var(--color-foreground))}.price.price--unavailable{visibility:hidden}.price--end{justify-content:flex-end}.price:not(.price--show-badge) .price-item--last:last-of-type{margin-left:5px}.price--large{font-size:1.6rem;letter-spacing:.13rem}.collection.loading .loading-overlay,.price--sold-out .price__availability,.price__regular{display:block}.grid__item-brand-callout-desktop,.price .price__badge-bestseller,.price .price__badge-collaboration,.price .price__badge-final-sale,.price .price__badge-low-stock,.price .price__badge-new,.price .price__badge-sale,.price .price__badge-sold-out,.price--on-sale .price__availability,.price--on-sale .price__regular,.price__availability,.price__sale{display:none}.price--is-bestseller .price__badge-bestseller,.price--is-collaboration .price__badge-collaboration,.price--is-new .price__badge-new,.price--low-stock .price__badge-low-stock,.price--on-final-sale .price__badge-final-sale,.price--on-sale .price__badge-sale,.price--sold-out .price__badge-sold-out{display:inline-flex}.price--on-sale .price__sale{display:flex;flex-direction:row;flex-wrap:wrap;align-items:center}.price--center{display:flex;justify-content:center}.price--on-sale .price-item--regular{text-decoration:line-through;color:rgba(var(--color-foreground),.5)}.price-item--sale{color:var(--color-sale-price);font-weight:700}.unit-price{display:block;font-size:1.1rem;letter-spacing:.04rem;line-height:calc(1 + .2 / var(--font-body-scale));margin-top:.2rem;text-transform:uppercase;color:rgba(var(--color-foreground),.7)}.product-grid{--grid-desktop-horizontal-spacing:10px;gap:var(--grid-desktop-horizontal-spacing);margin-left:0;margin-top:10px}.product-grid .grid__item{padding:0}.grid__item-placeholder{width:0!important;height:0;padding:0!important}.grid__item-brand-callout{width:100%!important;max-width:100%!important;padding-right:0!important}.brand-callout-card{border:1px solid rgba(var(--color-base-accent-1));padding:0 20px 25px!important;background-color:rgba(var(--color-base-accent-1));color:rgba(var(--color-base-background-1))}.grid__item-brand-callout h2{color:rgba(var(--color-base-background-1));font-size:30px}.grid__item-brand-callout p{font-size:16px}@media screen and (min-width:990px){.card .media.media--hover-effect>img:only-child,.card--search img,.card-wrapper .media.media--hover-effect>img:only-child{transition:transform var(--duration-long) ease}.card__inner:hover .media.media--hover-effect>img:first-child:not(:only-child){opacity:0}.card__inner:hover .media.media--hover-effect>img+img{opacity:1}.card__inner:hover .card-information__text,.card__inner:hover .card__text{text-decoration:underline;text-underline-offset:.3rem}.card__inner:hover .card--soft{background-color:rgba(var(--color-card-hover),.06);transition:background-color var(--duration-long) ease}.product-type-menu-wrapper #main-collection-filters{position:absolute;width:auto;height:auto}.grid__item-placeholder{display:none}.grid__item-brand-callout{width:calc(25% - .75rem)!important}.brand-callout-card{display:flex;flex-direction:column;justify-content:space-between;height:100%}.grid__item-brand-callout h2{font-size:20px}.grid__item-brand-callout p{font-size:14px}.grid__item-brand-callout-mobile{display:none}.grid__item-brand-callout-desktop{display:block}}@media screen and (min-width:1260px){.grid__item-brand-callout h2{font-size:30px}}@media screen and (min-width:750px) and (max-width:989px){#product-grid.grid--1-col-tablet.grid--peek .grid__item{width:calc(100% - var(--grid-desktop-horizontal-spacing) - 3rem)}#product-grid.grid--2-col-tablet .grid__item{width:calc(50% - var(--grid-desktop-horizontal-spacing)/ 2);max-width:calc(50% - var(--grid-desktop-horizontal-spacing)/ 2)}#product-grid.grid--3-col-tablet .grid__item{width:calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);max-width:calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3)}}.featured-collection-slider .grid{flex-wrap:nowrap;overflow:auto;scrollbar-width:none}.slider--everywhere,.slider.slider--mobile{position:relative;overflow-x:auto;scroll-snap-type:x mandatory;scroll-behavior:smooth;-webkit-overflow-scrolling:touch}.featured-collection-slider .grid::-webkit-scrollbar{display:none}slider-component{position:relative;display:block}slider-component ul{margin-top:0!important}vertical-slider-component .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide{width:100%}.slider__slide{scroll-snap-align:start;flex-shrink:0}.slider.slider--mobile{flex-wrap:inherit}.multicolumn .slider.slider--mobile{scroll-padding-left:7.5%}.slider.slider--mobile .slider__slide{margin-bottom:0;padding-bottom:10px}.thumbnail-slider .slider.slider--mobile .slider__slide{padding-bottom:0}@media screen and (min-width:750px){.price--large{font-size:1.8rem}.grid__item-brand-callout-mobile,.slider--mobile+.slider-buttons{display:none}.slider.slider--tablet-up{position:relative;flex-wrap:inherit;overflow-x:auto;scroll-snap-type:x mandatory;scroll-behavior:smooth;scroll-padding-left:1rem;-webkit-overflow-scrolling:touch}.slider.slider--tablet-up .slider__slide{margin-bottom:0;padding-bottom:10px}.product .slider--mobile+.slider-buttons{display:flex}}@media screen and (max-width:989px){.no-js slider-component .slider{padding-bottom:3rem}.slider.slider--tablet{position:relative;flex-wrap:inherit;overflow-x:auto;scroll-snap-type:x mandatory;scroll-behavior:smooth;scroll-padding-left:1rem;-webkit-overflow-scrolling:touch;margin-bottom:1rem}.slider.slider--tablet .slider__slide{margin-bottom:0;padding-bottom:10px}.collection .slider.slider--tablet{margin-bottom:10px}}.slider--everywhere{flex-wrap:inherit;margin-bottom:1rem}@media (prefers-reduced-motion){.slider--everywhere{scroll-behavior:auto}}.slider.slider--everywhere .slider__slide{margin-bottom:0;padding-bottom:0;scroll-snap-align:center}.slider{scrollbar-color:rgb(var(--color-foreground)) rgba(var(--color-foreground),.04);-ms-overflow-style:none;scrollbar-width:none}.slider::-webkit-scrollbar{height:.4rem;width:.4rem;display:none}.no-js .slider{-ms-overflow-style:auto;scrollbar-width:auto}.no-js .slider::-webkit-scrollbar{display:initial}.slider::-webkit-scrollbar-thumb{background-color:rgb(var(--color-foreground));border-radius:.4rem;border:0}.slider::-webkit-scrollbar-track{background:rgba(var(--color-foreground),.04);border-radius:.4rem}.slider-counter{margin:0 1.2rem;display:flex;min-width:2rem}.slider-counter__link{padding:1rem}.slider-counter__link--dots .dot{width:1rem;height:1rem;border-radius:50%;border:.1rem solid rgba(var(--color-foreground),.5);padding:0;display:block}.slider-counter__link--active.slider-counter__link--dots .dot{background-color:rgb(var(--color-foreground))}@media screen and (forced-colors:active){.slider-counter__link--active.slider-counter__link--dots .dot{background-color:CanvasText}}.slider-counter__link--dots:not(.slider-counter__link--active):hover .dot{border-color:rgb(var(--color-foreground))}.slider-counter__link--dots .dot,.slider-counter__link--numbers{transition:transform .2s ease-in-out}.slider-counter__link--active.slider-counter__link--numbers,.slider-counter__link--dots:not(.slider-counter__link--active):hover .dot,.slider-counter__link--numbers:hover{transform:scale(1.1)}.slider-counter__link--numbers{color:rgba(var(--color-foreground),.5);text-decoration:none}.slider-button:not([disabled]):hover,.slider-counter__link--numbers:hover{color:rgb(var(--color-foreground))}.slider-counter__link--active.slider-counter__link--numbers{text-decoration:underline;color:rgb(var(--color-foreground))}.slider-buttons{display:flex;align-items:center;justify-content:center;pointer-events:none}.slider-buttons button{pointer-events:auto}@media screen and (min-width:990px){#product-grid.grid--6-col-desktop .grid__item{width:calc(16.66% - var(--grid-desktop-horizontal-spacing) * 5 / 6);max-width:calc(16.66% - var(--grid-desktop-horizontal-spacing) * 5 / 6)}#product-grid.grid--5-col-desktop .grid__item{width:calc(20% - var(--grid-desktop-horizontal-spacing) * 4 / 5);max-width:calc(20% - var(--grid-desktop-horizontal-spacing) * 4 / 5)}#product-grid.grid--4-col-desktop .grid__item{width:calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);max-width:calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4)}#product-grid.grid--3-col-desktop .grid__item{width:calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);max-width:calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3)}#product-grid.grid--2-col-desktop .grid__item{width:calc(50% - var(--grid-desktop-horizontal-spacing)/ 2);max-width:calc(50% - var(--grid-desktop-horizontal-spacing)/ 2)}#product-grid.grid--1-col-desktop{flex:0 0 100%;max-width:100%}#product-grid.grid--1-col-desktop .grid__item{width:100%;max-width:100%}.slider:not(.slider--everywhere)+.slider-buttons{display:none}.product .slider:not(.slider--everywhere)+.slider-buttons{display:flex}}.featured-collection-slider .slider-button,.slider-button{color:rgba(var(--color-base-accent-1));border:none;display:flex}.slider-button{background:0 0;cursor:pointer;width:30px;height:30px;align-items:center;justify-content:center}.slider-button .icon{height:.6rem}.slider-button[disabled] .icon{color:rgba(var(--color-foreground),.3);cursor:not-allowed}.slider-button--next .icon{transform:rotate(-90deg)}.slider-button--prev .icon{transform:rotate(90deg)}.slider-button--next:not([disabled]):hover .icon{transform:rotate(-90deg) scale(1.1)}.slider-button--prev:not([disabled]):hover .icon{transform:rotate(90deg) scale(1.1)}.slider-button[disabled]{background-color:transparent;cursor:not-allowed;visibility:hidden}@media screen and (min-width:1200px){.product--thumbnail_slider .product-media-gallery.product-media-gallery--with-vertical slider-component.thumbnail-slider{display:none}.product-media-gallery.product-media-gallery--with-vertical vertical-slider-component.thumbnail-slider{display:block}.product-media-gallery.product-media-gallery--with-vertical{display:flex;flex-direction:row-reverse}.product-media-gallery.product-media-gallery--with-vertical slider-component{width:84%}.product-media-gallery.product-media-gallery--with-vertical slider-component .product__media-list{margin-left:0}.product-media-gallery.product-media-gallery--with-vertical vertical-slider-component{flex-grow:1}.product-media-gallery.product-media-gallery--with-vertical vertical-slider-component .slider.slider--vertical{display:block;height:max((8vw - 10px) * 4.25,350px)}.product-page .slider-buttons{position:absolute;z-index:1;bottom:0;right:0;left:0;margin-left:auto;margin-right:auto;width:calc(100% - 20px);height:100%;justify-content:space-between}.featured-collection-slider .slider-button,.slider-button{color:rgba(var(--color-base-accent-1));background:rgba(var(--color-base-background-1));border:none;cursor:pointer;width:30px;height:30px;display:flex;align-items:center;justify-content:center;border:1px solid rgba(var(--color-base-accent-1))}.slider-buttons .slider-counter{align-self:flex-end;padding-bottom:11px}.thumbnail-slider .slider-button.slider-button--vertical{width:100%}.thumbnail-slider .slider-button.slider-button--vertical .icon{margin:0 auto}.slider-button--prev.slider-button--vertical .icon{transform:rotate(180deg)}.slider-button--next.slider-button--vertical .icon{transform:rotate(0)}.slider-button--prev.slider-button--vertical:not([disabled]):hover .icon{transform:rotate(180deg) scale(1.1)}.slider-button--next.slider-button--vertical:not([disabled]):hover .icon{transform:rotate(0) scale(1.1)}}.featured-collection-slider .slider-button{background:rgba(var(--color-base-background-1));cursor:pointer;width:30px;height:30px;align-items:center;justify-content:center;border:1px solid rgba(var(--color-base-accent-1))}.featured-collection-slider .slider-buttons{position:absolute;width:100%;top:40%;justify-content:space-between;padding:0 5px;display:flex!important}.featured-collection-slider .slider-buttons .slider-counter{display:none}.thumbnail-slider .slider-button{border:none;background-color:transparent;width:auto;height:auto}@media screen and (max-width:749px){.slider-counter--dots,.slider-counter--numbers{margin:0}.slider-counter__link{padding:.7rem}.collection .grid__item:only-child{flex:0 0 100%;max-width:100%}.collection .title:not(.title--no-heading){margin:10px 0}}.collection .loading-overlay{top:0;right:0;bottom:0;left:0;display:none;width:100%;padding:0 1.5rem;opacity:.7}@media screen and (min-width:750px){.collection .title-wrapper-with-link--no-heading{margin-top:calc(6rem + var(--page-width-margin))}.collection .loading-overlay{padding-left:5rem;padding-right:5rem}}.collection--empty .title-wrapper{margin-top:10rem;margin-bottom:15rem}</style>
{% endif %}
<link rel="stylesheet" data-href="{{ 'component-card.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-price.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-product-grid.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-slider.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'template-collection.css' | asset_url }}">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .featured-collection-slider-width {
    max-width: var(--page-width);
    margin: 0 auto;
  }

  .featured-collection-slider-width .center .button {
    margin-top: 10px;
  }

  .featured-collection-slider-width .title-wrapper-with-link {
    padding: 0 1rem;
  }

  .large-screen-slider-override {
    display: none;
  }

  .featured-collection-slider .slider__slide:first-of-type {
    padding-left: 1rem;
  }

  .featured-collection-slider li:last-of-type {
    margin-right: 1rem;
  }

  @media screen and (min-width: 990px) {
    .featured-collection-slider-width .product-grid .grid__item {
      max-width: 18% !important;
    }
  }

  @media screen and (min-width: 2600px) {
    .featured-collection-slider-width .product-grid .grid__item {
      max-width: 25% !important;
    }
    .large-screen-slider-override {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;
      overflow: auto;
      scrollbar-width: none;
    }
    .featured-collection-slider-width .title-wrapper-with-link {
      padding: 0;
    }
    .featured-collection-slider {
      display: none;
    }
    .featured-collection-slider-width {
      max-width: 2600px;
      margin: 0 auto;
      padding: 0 10px;
    }
  }

  .show_collection_card_link {
    padding: 0 10px 30px 10px;
    color: white;
    width: 100%;
    height: calc(100% - 30px);
    background: black;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    border: 1px solid lightgray;
    text-align: center;
    width: calc(100% - 20px);
  }

  @media screen and (min-width: 990px) {
    .show_collection_card_link {
      height: 100%;
      width: 100%;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif
-%}
<div class="collection featured-collection-slider-width  {% if section.settings.swipe_on_mobile == true and section.settings.collection.all_products_count > 2 and section.settings.products_to_show > 2 %} {% endif %}">
  <div class="title-wrapper-with-link{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} title-wrapper--self-padded-tablet-down{% endif %}">
    <h2 class="title{% if section.settings.title == blank %} title--no-heading{% endif %}">
      {{ section.settings.title | escape }}
    </h2>

    {%- if section.settings.show_view_all and section.settings.swipe_on_mobile and more_in_collection -%}
      <a href="{{ section.settings.collection.url }}" class="link underlined-link large-up-hide">
        {{- 'sections.featured_collection.view_all' | t -}}
      </a>
    {%- endif -%}
  </div>

  <slider-component class="slider-mobile-gutter featured-collection-slider">
    <ul
      id="Slider-{{ section.id }}"
      class="grid grid--2-col product-grid{% if products_to_display == 4 or section.settings.collection == blank %} grid--2-col-tablet grid--4-col-desktop{% else %} grid--3-col-tablett grid--peek slider--tablet{% endif %}{% if products_to_display > 5 %} grid--4-col-desktop grid--quarter-max{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider slider--tablet grid--peek{% endif %}{% if section.settings.show_view_all == false or section.settings.collection.products.size < section.settings.products_to_show %} negative-margin{% endif %}{% if section.settings.show_view_all and section.settings.collection.products.size > section.settings.products_to_show %} negative-margin--small{% endif %}"
      role="list"
    >
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        <li
          id="Slide-{{ section.id }}-{{ forloop.index }}"
          class="grid__item{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider__slide{% endif %}"
        >
          {% render 'product-card',
            product_card_product: product,
            media_size: section.settings.image_ratio,
            show_secondary_image: section.settings.show_secondary_image,
            add_image_padding: section.settings.add_image_padding,
            show_vendor: section.settings.show_vendor,
            show_image_outline: section.settings.show_image_outline,
            show_rating: section.settings.show_rating
          %}
        </li>
      {%- else -%}
        {%- for i in (1..4) -%}
          <li class="grid__item">
            {% render 'product-card-placeholder' %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
      {% if more_in_collection and section.settings.show_collection_link != blank %}
        <li
          id="Slide-{{ section.id }}-{{ forloop.index }}"
          class="show_collection_card grid__item{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider__slide{% endif %}"
        >
          <a class="show_collection_card_link" href="{{ section.settings.show_collection_link }}">
            {{- section.settings.show_collection_text }}
          </a>
        </li>
      {% endif %}
    </ul>
    {%- if section.settings.collection.all_products_count > 2
      and section.settings.swipe_on_mobile
      and section.settings.products_to_show > 2
    -%}
      <div class="featured-collection-slider-buttons slider-buttons no-js-hidden{% if section.settings.collection.all_products_count < 4 %} medium-hide{% endif %}{% if section.settings.collection.all_products_count < 3 %} small-hide{% endif %}">
        <button
          type="button"
          class="slider-button slider-button--prev"
          name="previous"
          aria-label="{{ 'general.slider.previous_slide' | t }}"
        >
          {% render 'icon-caret' %}
        </button>
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
          <span class="slider-counter--total">{{ products_to_display }}</span>
        </div>
        <button
          type="button"
          class="slider-button slider-button--next"
          name="next"
          aria-label="{{ 'general.slider.next_slide' | t }}"
        >
          {% render 'icon-caret' %}
        </button>
      </div>
    {%- endif -%}
  </slider-component>

  {%- if section.settings.show_view_all and more_in_collection -%}
    <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
      <a
        href="{{ section.settings.collection.url }}"
        class="button"
        aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
      >
        {{ 'sections.featured_collection.view_all' | t }}
      </a>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "spaced-section featured-collection-section id-featured-collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "text",
      "id": "show_collection_text",
      "default": "View the Collection",
      "label": "Show Collection Text"
    },
    {
      "type": "url",
      "id": "show_collection_link",
      "label": "Show Collection Link"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.featured-collection.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
