{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{% if template contains 'index' or template contains 'collection' or template contains 'product' %}
    
{% else %}
    <style>.footer .disclosure__link:hover,.footer-block__details-content .list-menu__item--active,.list-social__link,.localization-selector.link{color:rgb(var(--color-foreground))}.footer-block-image>img,.rte img{height:auto}.list-menu__item--active,.rte a{text-underline-offset:.3rem}.footer-block__details-content .list-menu__item--active,.rte a{transition:text-decoration-thickness var(--duration-short) ease}.footer{border-top:.1rem solid rgba(var(--color-base-accent-1));padding-bottom:1px;margin-top:20px}.footer-block:empty,.footer__content-bottom{display:none}.footer__bottom-menu{display:flex;margin:0 10px}.footer__bottom-menu a,.footer__bottom-menu p{font-size:12px;color:#9a9a9a}.footer__bottom-menu a{padding-left:30px;text-decoration:none}.footer .list-menu__item--link{padding:0!important}.footer__content-top{display:block}.footer-block__newsletter{background-color:rgba(var(--color-base-background-1));margin-top:30px;padding:1.5rem;border:1px solid rgba(var(--color-base-accent-1))}.footer__newsletter{justify-content:space-between!important}.footer-block--newsletter:empty,.footer__list-social:empty,.footer__localization:empty{display:none}.footer__content-bottom{border-top:solid .1rem rgba(var(--color-foreground),.08);padding-top:3rem;padding-bottom:3rem}.footer__content-bottom:only-child{border-top:0}.footer__content-bottom-wrapper{display:flex;width:100%}.footer__localization:empty+.footer__column--info{align-items:center}.footer__column{width:100%;align-items:flex-end}.footer__column--info{display:flex;flex-direction:column;justify-content:center;align-items:center;padding-left:2rem;padding-right:2rem}.footer-block:only-child:last-child{text-align:center;max-width:76rem;margin:0 auto}@media screen and (min-width:750px){.footer__content-top .grid{margin-left:-3rem;row-gap:6rem;margin-bottom:0}.footer__content-top .grid__item{padding-left:3rem}.footer__column--info{padding-left:0;padding-right:0;align-items:flex-end}.footer-block{display:block;margin-top:0}}.footer-block--newsletter{display:flex;flex-wrap:wrap;justify-content:center;align-items:flex-start;margin:0 0 30px}.footer-block--newsletter:only-child,.rte>p:first-child{margin-top:0}.footer-block--newsletter>*{flex:1 1 100%}.footer-block__heading{margin-bottom:2rem;margin-top:0;font-size:1.6rem}.footer__list-social.list-social:only-child{justify-content:center}.newsletter-form__field-wrapper{max-width:36rem}.footer-block__newsletter+.footer__list-social{margin-top:3rem}.footer__localization{display:flex;flex-direction:row;justify-content:center;align-content:center;flex-wrap:wrap;padding:1rem 1rem 0}.localization-form{display:flex;flex-direction:column;flex:auto 1 0;padding:1rem;margin:0 auto}.localization-form:only-child{display:inline-flex;flex-wrap:wrap;flex:initial;padding:1rem 0}.localization-form:only-child .button,.localization-form:only-child .localization-form__select{margin:1rem 1rem .5rem;flex-grow:1;width:auto}.footer__localization h2{margin:1rem 1rem .5rem;color:rgba(var(--color-foreground),.75)}@media screen and (max-width:989px){.footer__localization noscript,noscript .localization-form:only-child{width:100%}}.localization-form .button{padding:1rem}.localization-form__currency{display:inline-block}.localization-form__select{box-shadow:0 0 0 .1rem rgba(var(--color-foreground),.55);position:relative;margin-bottom:1.5rem;border:.1rem solid transparent;padding-left:1rem;text-align:left}.disclosure__list,.list-menu--disclosure{border:1px solid rgba(var(--color-foreground),.2)}.list-payment,noscript .localization-form__select{padding-left:0}.localization-form__select .icon-caret{position:absolute;content:"";height:.6rem;right:1.5rem;top:calc(50% - .2rem)}.localization-selector.link{text-decoration:none;appearance:none;-webkit-appearance:none;-moz-appearance:none;width:100%;padding-right:4rem;padding-bottom:1.5rem}.footer .disclosure__link--active,.list-menu__item--active{text-decoration:underline}noscript .localization-selector.link{padding-top:1.5rem;padding-left:1.5rem}.disclosure .localization-form__select{padding-top:1.5rem}.localization-selector option{color:#000}.localization-selector+.disclosure__list{margin-left:1rem;opacity:1;animation:animateLocalization var(--duration-default) ease}.footer__copyright{text-align:center;margin-top:1.5rem}@keyframes appear-down{0%{opacity:0;margin-top:-1rem}to{opacity:1;margin-top:0}}.footer-block__details-content{margin-bottom:20px}@media screen and (max-width:749px){.footer .grid{display:flex;margin-left:0}.footer-block.grid__item{padding:0;width:50%;margin-top:0}.footer__content-bottom{flex-wrap:wrap;padding-top:0;padding-left:0;padding-right:0;row-gap:1.5rem}.footer__content-bottom-wrapper{flex-wrap:wrap;row-gap:1.5rem}.footer__localization:empty+.footer__column{padding-top:1.5rem}.footer-block.footer-block--menu:only-child{text-align:left}.footer__list-social.list-social{justify-content:center}.localization-form .button{word-break:break-all}.footer-block-image{text-align:center}}.footer-block__details-content .placeholder-svg{max-width:20rem}.copyright__content a{color:currentColor;text-decoration:none}@media screen and (min-width:850px){.footer-block--newsletter{margin:30px 0;width:45%;max-width:460px}.footer__content-top{display:flex!important;flex-direction:row-reverse;justify-content:flex-end}.footer-block__newsletter{margin-top:0}.footer__blocks-wrapper{width:60%;padding-top:30px}}@keyframes animateLocalization{0%{opacity:0;transform:translateY(0)}to{opacity:1;transform:translateY(-1rem)}}.footer .disclosure__link{padding:.95rem 3.5rem .95rem 2rem;color:rgba(var(--color-foreground),.75)}.newsletter-form{display:flex;justify-content:center;align-items:center;width:100%;position:relative}.newsletter-form__field-wrapper{width:100%}#ContactFooter .newsletter-form__field-wrapper{margin-right:1rem}#ContactFooter .field__label{left:0;top:.5rem}#NewsletterForm--footer{padding:0;height:30px}.newsletter-form__field-wrapper .field__input{padding-right:5rem}.newsletter-form__message{justify-content:center;margin-bottom:0}.newsletter-form__message--success{margin-top:2rem}.newsletter-form__button{width:4.4rem;margin:0}.newsletter-form__button .icon{width:1.5rem}.list-menu--right{right:0}.list-menu--disclosure{position:absolute;min-width:100%;width:20rem;background-color:rgb(var(--color-background))}.list-menu--disclosure:focus{outline:0}.list-menu--disclosure.localization-selector{max-height:18rem;overflow:auto;width:10rem;padding:.5rem}.list-payment{display:flex;flex-wrap:wrap;justify-content:center;margin:-.5rem 0;padding-top:1rem}.list-payment__item{align-items:center;display:flex;padding:.5rem}.list-social{display:flex;flex-wrap:wrap;justify-content:flex-end}@media only screen and (max-width:749px){.list-social{justify-content:center}}.list-social__item .icon{height:1.8rem;width:1.8rem}.list-social__link{align-items:center;display:flex;padding:1.3rem}.list-social__link:hover .icon{transform:scale(1.07)}.rte:after{clear:both;content:"";display:block}.rte li:last-child,.rte>p:last-child{margin-bottom:0}.rte table{table-layout:fixed}@media screen and (min-width:750px){.footer-block--newsletter{flex-wrap:nowrap;justify-content:space-between}.footer-block__newsletter:not(:only-child){text-align:left}.footer-block__newsletter:not(:only-child) .footer__newsletter{justify-content:flex-start;margin:0}.footer-block__newsletter:not(:only-child) .newsletter-form__message--success{left:auto}.footer-block__newsletter+.footer__list-social{margin-top:0}.footer__content-bottom{border-top-width:.1rem}.footer__localization{padding:.4rem 0;justify-content:flex-start}.localization-form{padding:1rem 2rem 1rem 0}.localization-form:first-of-type{padding-left:0}.localization-form:only-child{justify-content:start;width:auto;margin:0 0 0 -1rem}.localization-form:only-child .button,.localization-form:only-child .localization-form__select{margin:1rem}noscript .localization-form__select{min-width:20rem}.footer__payment{margin-top:1.5rem}.footer__copyright{text-align:right}.footer-block__details-content{margin-bottom:0}.footer-block__details-content>li,.footer-block__details-content>p{padding:0}.footer-block:only-child li{display:inline}.footer-block__details-content>li:not(:last-child){margin-right:1.5rem}.copyright__content a:hover,.footer-block__details-content .list-menu__item--link:hover{text-decoration:underline;text-underline-offset:.2rem}.footer-block__details-content .list-menu__item--active:hover{text-decoration-thickness:.2rem}.footer-block__details-content .list-menu__item--link{display:inline-block;font-size:1.4rem}.footer-block__details-content>:first-child .list-menu__item--link{padding-top:0}.newsletter-form{align-items:flex-start;margin:0 auto}.newsletter-form__message{justify-content:flex-start}.list-payment{justify-content:flex-end;margin:-.5rem;padding-top:0}.rte table td{padding-left:1.2rem;padding-right:1.2rem}}.rte img{display:block;max-width:100%;margin-bottom:-.5rem}.rte ul{padding-left:2rem}.rte li{list-style:inherit}.rte a{color:rgba(var(--color-base-accent-1));text-decoration-thickness:.1rem;text-decoration-skip-ink:none}.rte a:hover{color:rgb(var(--color-link))}.rte blockquote{display:inline-flex}.rte blockquote>*{margin:-.5rem 0}.disclosure,.disclosure__item{position:relative}.disclosure__button{align-items:center;cursor:pointer;display:flex;height:4rem;padding:0 1.5rem;font-size:1.3rem;background-color:transparent}.disclosure__list{font-size:1.4rem;margin-top:-.5rem;min-height:8.2rem;max-height:19rem;max-width:22rem;min-width:12rem;width:max-content;overflow-y:auto;padding-bottom:.5rem;padding-top:.5rem;position:absolute;bottom:100%;transform:translateY(-1rem);z-index:2;background-color:rgb(var(--color-background))}.disclosure__link{display:block;padding:.5rem 2.2rem;text-decoration:none;line-height:calc(1 + .8 / var(--font-body-scale))}</style>
{% endif %}
<link rel="stylesheet" data-href="{{ 'section-footer.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-newsletter.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-list-menu.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-list-payment.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-list-social.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-rte.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'disclosure.css' | asset_url }}">
 
<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>
 
<footer class="footer color-{{ section.settings.color_scheme }} gradient">
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
  {%- if section.blocks.size > 0 -%}
    {%- liquid
      if section.blocks.size == 9
        assign footer_grid_class = 'grid--3-col-tablet'
      elsif section.blocks.size > 6
        assign footer_grid_class = 'grid--4-col-desktop'
      elsif section.blocks.size > 4
        assign footer_grid_class = 'grid--3-col-tablet'
      endif
    -%}
    <div class="footer__content-top page-width">
      <div class="footer-block--newsletter">
        {%- if section.settings.newsletter_enable -%}
          <div class="footer-block__newsletter">
            {%- if section.settings.newsletter_heading != blank -%}
              <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
            {%- endif -%}
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="Enter your email"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    Enter your email
                  </label>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
              <button type="submit" class="newsletter-form__button footer-subscribe__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                <!-- {% render 'icon-arrow' %} -->
                Subscribe
              </button>
            {%- endform -%}
          </div>
        {%- endif -%}

        {%- if section.settings.show_social -%}
          <ul class="footer__list-social list-unstyled list-social" role="list">
            {%- if settings.social_twitter_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                  {%- render 'icon-twitter' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_facebook_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                  {%- render 'icon-pinterest' -%}
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                  {%- render 'icon-instagram' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                  {%- render 'icon-youtube' -%}
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}
      </div>
      <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
        {%- for block in section.blocks -%}
          <div class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
            {%- if block.settings.heading != blank and block.settings.bottom_menu == false -%}
              <h2 class="footer-block__heading">{{- block.settings.heading | escape -}}</h2>
            {%- endif -%}

            {%- case block.type -%}
              {%- when 'text' -%}
                <div class="footer-block__details-content rte">
                  {{ block.settings.subtext }}
                </div>
              {%- when 'link_list' -%}
                {%- if block.settings.menu != blank and block.settings.bottom_menu == false -%}
                  <ul class="footer-block__details-content list-unstyled">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              {%- when 'image' -%}
                <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                  {%- if block.settings.image != blank -%}
                    {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                    <img
                      srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                      src="{{ block.settings.image | image_url: width: 760 }}"
                      alt="{{ block.settings.image.alt | escape }}"
                      loading="lazy"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                      style="max-width: min(100%, {{ block.settings.image_width }}px);"
                    >
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  {%- endif -%}
                </div>
              {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
      {%- endif -%}
    </div>
  {%- endif -%}

 <div class="footer__bottom-menu">
  {%- for block in section.blocks -%}
    {%- if block.settings.heading != blank and block.settings.bottom_menu == true -%}
     <p>&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}</p>
      {%- for link in block.settings.menu.links -%}
   		{%- unless link.url == 'https://www.vitalydesign.com/pages/notification-based-on-the-specified-commercial-transactions-act' -%}
        <a href="{{ link.url }}" class="link link--text list-menu__item {% if link.active %} list-menu__item--active{% endif %}">
          {{ link.title }}
        </a>
   		{%- endunless -%}
   		{%- if localization.country.currency.iso_code == 'JPY' and link.url == 'https://www.vitalydesign.com/pages/notification-based-on-the-specified-commercial-transactions-act' -%}
   		<a href="{{ link.url }}" class="link link--text list-menu__item {% if link.active %} list-menu__item--active{% endif %}">
          {{ link.title }}
        </a>
   		{%- endif -%}
      {%- endfor -%}
    {%- endif -%}
    </ul>
  {%- endfor -%}
  </div>
 
 <div class="footer__content-bottom">
   <div class="footer__content-bottom-wrapper page-width">
     <div class="footer__column footer__localization">
       {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
         <noscript>
           {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
             <div class="localization-form__select">
               <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
               <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                 {%- for country in localization.available_countries -%}
                   <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                     {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                   </option>
                 {%- endfor -%}
               </select>
               {% render 'icon-caret' %}
             </div>
             <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
           {%- endform -%}
         </noscript>
         <localization-form>
           {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
             <div class="no-js-hidden">
               <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
               <div class="disclosure">
                 <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                   {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                   {% render 'icon-caret' %}
                 </button>
                 <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled" hidden>
                   {%- for country in localization.available_countries -%}
                     <li class="disclosure__item" tabindex="-1">
                       <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                         {{ country.name }} <span class="localization-form__currency">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                       </a>
                     </li>
                   {%- endfor -%}
                 </ul>
               </div>
               <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
             </div>
           {%- endform -%}
         </localization-form>
       {%- endif -%}
 
       {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
         <noscript>
           {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
             <div class="localization-form__select">
               <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
               <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                 {%- for language in localization.available_languages -%}
                   <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                     {{ language.endonym_name | capitalize }}
                   </option>
                 {%- endfor -%}
               </select>
               {% render 'icon-caret' %}
             </div>
             <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
           {%- endform -%}
         </noscript>
 
         <localization-form>
           {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
             <div class="no-js-hidden">
               <h2 class="caption-large text-body" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
               <div class="disclosure">
                 <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                   {{ localization.language.endonym_name | capitalize }}
                   {% render 'icon-caret' %}
                 </button>
                 <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled" hidden>
                   {%- for language in localization.available_languages -%}
                     <li class="disclosure__item" tabindex="-1">
                       <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                         {{ language.endonym_name | capitalize }}
                       </a>
                     </li>
                   {%- endfor -%}
                 </ul>
               </div>
               <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
             </div>
           {%- endform -%}
         </localization-form>
       {%- endif -%}
     </div>
     <div class="footer__column footer__column--info">
       {%- if section.settings.payment_enable -%}
         <div class="footer__payment">
           <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
           <ul class="list list-payment" role="list">
             {%- for type in shop.enabled_payment_types -%}
               <li class="list-payment__item">
                 {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
               </li>
             {%- endfor -%}
           </ul>
         </div>
       {%- endif -%}
       <div class="footer__copyright caption">
         <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
         <small class="copyright__content">{{ powered_by_link }}</small>
       </div>
     </div>
   </div>
 </div>
</footer>
 
<script type="lazyload_int">
 class LocalizationForm extends HTMLElement {
   constructor() {
     super();
     this.elements = {
       input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
       button: this.querySelector('button'),
       panel: this.querySelector('ul'),
     };
     this.elements.button.addEventListener('click', this.openSelector.bind(this));
     this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
     this.addEventListener('keyup', this.onContainerKeyUp.bind(this));
 
     this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
   }
 
   hidePanel() {
     this.elements.button.setAttribute('aria-expanded', 'false');
     this.elements.panel.setAttribute('hidden', true);
   }
 
   onContainerKeyUp(event) {
     if (event.code.toUpperCase() !== 'ESCAPE') return;
 
     this.hidePanel();
     this.elements.button.focus();
   }
 
   onItemClick(event) {
     event.preventDefault();
     const form = this.querySelector('form');
     this.elements.input.value = event.currentTarget.dataset.value;
     if (form) form.submit();
   }
 
   openSelector() {
     this.elements.button.focus();
     this.elements.panel.toggleAttribute('hidden');
     this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
   }
 
   closeSelector(event) {
     const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
     if (event.relatedTarget === null || shouldClose) {
       this.hidePanel();
     }
   }
 }
 
 customElements.define('localization-form', LocalizationForm);
</script>
 
{% schema %}
{
 "name": "t:sections.footer.name",
 "blocks": [
   {
     "type": "link_list",
     "name": "t:sections.footer.blocks.link_list.name",
     "settings": [
       {
         "type": "text",
         "id": "heading",
         "default": "Quick links",
         "label": "t:sections.footer.blocks.link_list.settings.heading.label",
         "info": "t:sections.footer.blocks.link_list.settings.heading.info"
       },
       {
         "type": "link_list",
         "id": "menu",
         "default": "footer",
         "label": "t:sections.footer.blocks.link_list.settings.menu.label",
         "info": "t:sections.footer.blocks.link_list.settings.menu.info"
       },
       {
        "type": "checkbox",
        "id": "bottom_menu",
        "default": false,
        "label": "Check if this link list is for the bottom menu"
       }
     ]
   },
   {
     "type": "text",
     "name": "t:sections.footer.blocks.text.name",
     "settings": [
       {
         "type": "text",
         "id": "heading",
         "default": "Heading",
         "label": "t:sections.footer.blocks.text.settings.heading.label"
       },
       {
         "type": "richtext",
         "id": "subtext",
         "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
         "label": "t:sections.footer.blocks.text.settings.subtext.label"
       }
     ]
   },
   {
     "type": "image",
     "name": "Image",
     "settings": [
       {
         "type": "image_picker",
         "id": "image",
         "label": "Image"
       },
       {
         "type": "range",
         "id": "image_width",
         "min": 50,
         "max": 200,
         "step": 5,
         "unit": "px",
         "label": "Image width",
         "default": 100
       },
       {
         "type": "select",
         "id": "alignment",
         "label": "Image alignment on large screen",
         "options": [
           {
             "value": "",
             "label": "Left"
           },
           {
             "value": "center",
             "label": "Center"
           },
           {
             "value": "right",
             "label": "Right"
           }
         ],
         "default": "center"
       }
     ]
   }
 ],
 "settings": [
   {
     "type": "select",
     "id": "color_scheme",
     "options": [
       {
         "value": "accent-1",
         "label": "t:sections.footer.settings.color_scheme.options__1.label"
       },
       {
         "value": "accent-2",
         "label": "t:sections.footer.settings.color_scheme.options__2.label"
       },
       {
         "value": "background-1",
         "label": "t:sections.footer.settings.color_scheme.options__3.label"
       },
       {
         "value": "background-2",
         "label": "t:sections.footer.settings.color_scheme.options__4.label"
       },
       {
         "value": "inverse",
         "label": "t:sections.footer.settings.color_scheme.options__5.label"
       }
     ],
     "default": "background-1",
     "label": "t:sections.footer.settings.color_scheme.label"
   },
   {
     "type": "header",
     "content": "t:sections.footer.settings.header__1.content",
     "info": "t:sections.footer.settings.header__1.info"
   },
   {
     "type": "checkbox",
     "id": "newsletter_enable",
     "default": true,
     "label": "t:sections.footer.settings.newsletter_enable.label"
   },
   {
     "type": "text",
     "id": "newsletter_heading",
     "default": "Subscribe to our emails",
     "label": "t:sections.footer.settings.newsletter_heading.label"
   },
   {
     "type": "header",
     "content": "t:sections.footer.settings.header__2.content",
     "info": "t:sections.footer.settings.header__2.info"
   },
   {
     "type": "checkbox",
     "id": "show_social",
     "default": false,
     "label": "t:sections.footer.settings.show_social.label"
   },
   {
     "type": "header",
     "content": "t:sections.footer.settings.header__3.content",
     "info": "t:sections.footer.settings.header__4.info"
   },
   {
     "type": "checkbox",
     "id": "enable_country_selector",
     "default": true,
     "label": "t:sections.footer.settings.enable_country_selector.label"
   },
   {
     "type": "header",
     "content": "t:sections.footer.settings.header__5.content",
     "info": "t:sections.footer.settings.header__6.info"
   },
   {
     "type": "checkbox",
     "id": "enable_language_selector",
     "default": true,
     "label": "t:sections.footer.settings.enable_language_selector.label"
   },
   {
     "type": "header",
     "content": "t:sections.footer.settings.header__7.content"
   },
   {
     "type": "checkbox",
     "id": "payment_enable",
     "default": true,
     "label": "t:sections.footer.settings.payment_enable.label"
   }
 ],
 "default": {
   "blocks": [
     {
       "type": "link_list"
     },
     {
       "type": "text"
     }
   ]
 }
}
{% endschema %}
