<div class="community-section-wrapper">
  <div class="community-ticker foursixty-section-marquee">
    {% if section.settings.for_pdp == false %}
      <div class="foursixty-section-marquee__inner foursixty-section-marquee__inner-reg" aria-hidden="true">
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
      </div>
    {% endif %}
    {% if section.settings.for_pdp %}
      <div class="foursixty-section-marquee__inner foursixty-section-marquee__inner-reg" aria-hidden="true" style="display:none">
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
        <span>{{ section.settings.ticker_text }} Tag @vitaly to be featured.</span>
      </div>
      <div class="foursixty-section-marquee__inner foursixty-section-marquee__inner-pdp" aria-hidden="true" style="display:none">
        <span>
          {{- product.title }}
          {{ section.settings.ticker_text_pdp }}. Tag @vitaly to be featured.</span
        >
        <span>
          {{- product.title }}
          {{ section.settings.ticker_text_pdp }}. Tag @vitaly to be featured.</span
        >
        <span>
          {{- product.title }}
          {{ section.settings.ticker_text_pdp }}. Tag @vitaly to be featured.</span
        >
        <span>
          {{- product.title }}
          {{ section.settings.ticker_text_pdp }}. Tag @vitaly to be featured.</span
        >
        <span>
          {{- product.title }}
          {{ section.settings.ticker_text_pdp }}. Tag @vitaly to be featured.</span
        >
        <span>
          {{- product.title }}
          {{ section.settings.ticker_text_pdp }}. Tag @vitaly to be featured.</span
        >
        <span>
          {{- product.title }}
          {{ section.settings.ticker_text_pdp }}. Tag @vitaly to be featured.</span
        >
        <span>
          {{- product.title }}
          {{ section.settings.ticker_text_pdp }}. Tag @vitaly to be featured.</span
        >
      </div>
    {% endif %}
  </div>
  <div class="foursixty-section">
    <div>
      {% if section.settings.for_pdp == false %}
        <div class="desktop_foursixty_gallery">
          <script type="lazyload_int"
            data-src="//foursixty.com/media/scripts/fs.embed.v2.5.js"
            data-defer-image-loading="true"
            data-feed-id="vitaly-design"
            data-theme="showcase_v2_5"
            data-open-links-in-same-page="true"
            data-connector-filter="40487"
            data-page-size="8"
          ></script>
          <style>
            .fs-has-links::after {
              padding: 10px 15px;
              border: 1px solid #ffffff;
              color: #ffffff;
              content: 'SHOP THIS LOOK';
            }
            .fs-has-links:hover:after {
              background-color: #ffffff;
              color: rgba(0, 0, 0, 0.8);
            }
            .fs-showcase_v2_5.fs-desktop .fs-entry-container {
              width: 25% !important;
              padding-top: 25% !important;
            }
            .fs-showcase_v2_5.fs-mobile .fs-entry-container {
              width: 50% !important;
              padding-top: 50% !important;
            }
            .fs-wrapper div.fs-text-container .fs-entry-title,
            div.fs-detail-title {
              font-family: GerstnerProgramm;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
            }
            div.fs-text-container .fs-entry-date,
            div.fs-detail-container .fs-post-info,
            div.fs-wrapper div.fs-has-links::after,
            .fs-text-product,
            .fs-overlink-text {
              font-family: GerstnerProgramm;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
            }
            .fs-wrapper div.fs-text-container * {
              color: #ffffff;
            }
            .fs-wrapper div.fs-text-container {
              background-color: rgba(0, 0, 0, 0.8);
              margin: 0px;
            }
            div.fs-entry-date {
              display: none;
            }
            div.fs-service-icon {
              display: none;
            }
            div.fs-entry-title {
              display: none;
            }
            .fs-showcase_v2_5.fs-wrapper div.fs-timeline-entry {
              margin: 0px;
            }
          </style>
        </div>
      {% endif %}
      {% if section.settings.for_pdp %}
        <div class="desktop_foursixty_gallery" style="display: none;">
          <script type="lazyload_int"
            data-src="//foursixty.com/media/scripts/fs.embed.v2.5.js"
            data-defer-image-loading="true"
            data-feed-id="vitaly-design"
            data-theme="showcase_v2_5"
            data-open-links-in-same-page="true"
            data-connector-filter="40487"
            data-page-size="8"
          ></script>
          <style>
            .fs-has-links::after {
              padding: 10px 15px;
              border: 1px solid #ffffff;
              color: #ffffff;
              content: 'SHOP THIS LOOK';
            }
            .fs-has-links:hover:after {
              background-color: #ffffff;
              color: rgba(0, 0, 0, 0.8);
            }
            .fs-showcase_v2_5.fs-desktop .fs-entry-container {
              width: 25% !important;
              padding-top: 25% !important;
            }
            .fs-showcase_v2_5.fs-mobile .fs-entry-container {
              width: 50% !important;
              padding-top: 50% !important;
            }
            .fs-wrapper div.fs-text-container .fs-entry-title,
            div.fs-detail-title {
              font-family: GerstnerProgramm;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
            }
            div.fs-text-container .fs-entry-date,
            div.fs-detail-container .fs-post-info,
            div.fs-wrapper div.fs-has-links::after,
            .fs-text-product,
            .fs-overlink-text {
              font-family: GerstnerProgramm;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
            }
            .fs-wrapper div.fs-text-container * {
              color: #ffffff;
            }
            .fs-wrapper div.fs-text-container {
              background-color: rgba(0, 0, 0, 0.8);
              margin: 0px;
            }
            div.fs-entry-date {
              display: none;
            }
            div.fs-service-icon {
              display: none;
            }
            div.fs-entry-title {
              display: none;
            }
            .fs-showcase_v2_5.fs-wrapper div.fs-timeline-entry {
              margin: 0px;
            }
          </style>
        </div>
        <div class="mobile_foursixty_gallery" style="display: none;">
          <script  type="lazyload_int"
            data-src="//foursixty.com/media/scripts/fs.embed.v2.5.js"
            data-defer-image-loading="true"
            data-feed-id="vitaly-design"
            data-theme="showcase_v2_5"
            data-open-links-in-same-page="true"
            data-connector-filter="40487"
            data-page-size="6"
          ></script>
          <style>
            .fs-has-links::after {
              padding: 10px 15px;
              border: 1px solid #ffffff;
              color: #ffffff;
              content: 'SHOP THIS LOOK';
            }
            .fs-has-links:hover:after {
              background-color: #ffffff;
              color: rgba(0, 0, 0, 0.8);
            }
            .fs-showcase_v2_5.fs-desktop .fs-entry-container {
              width: 50% !important;
              padding-top: 50% !important;
            }
            .fs-showcase_v2_5.fs-mobile .fs-entry-container {
              width: 33.333333333333336% !important;
              padding-top: 33.333333333333336% !important;
            }
            .fs-wrapper div.fs-text-container .fs-entry-title,
            div.fs-detail-title {
              font-family: GerstnerProgramm;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
            }
            div.fs-text-container .fs-entry-date,
            div.fs-detail-container .fs-post-info,
            div.fs-wrapper div.fs-has-links::after,
            .fs-text-product,
            .fs-overlink-text {
              font-family: GerstnerProgramm;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
            }
            .fs-wrapper div.fs-text-container * {
              color: #ffffff;
            }
            .fs-wrapper div.fs-text-container {
              background-color: rgba(0, 0, 0, 0.8);
              margin: 0px;
            }
            div.fs-entry-date {
              display: none;
            }
            div.fs-service-icon {
              display: none;
            }
            div.fs-entry-title {
              display: none;
            }
          </style>
        </div>
        <div class="mobile_foursixty_gallery-pdp-grid" style="display: none;">
          <script type="lazyload_int"
            data-src="//foursixty.com/media/scripts/fs.embed.v2.5.js"
            data-defer-image-loading="true"
            data-feed-id="vitaly-design"
            data-theme="showcase_v2_5"
            data-open-links-in-same-page="true"
            data-connector-filter="40487"
            data-page-size="6"
            data-has-posts-selector="#foursixty-hideable-container"
            data-for-url="true"
          ></script>
          <!--
            {%raw%}<script>FoursixtyEmbed.moneyFormat = function(v) { return theme.moneyFormat.replace(/{{.*amount.*}}/, v.amount) }</script>{%endraw%}
          -->
          <style>
            .fs-has-links::after {
              padding: 10px 15px;
              border: 1px solid #ffffff;
              color: #ffffff;
              content: 'SHOP THIS LOOK';
            }
            .fs-has-links:hover:after {
              background-color: #ffffff;
              color: rgba(0, 0, 0, 0.8);
            }
            .fs-showcase_v2_5.fs-desktop .fs-entry-container {
              width: 50% !important;
              padding-top: 50% !important;
            }
            .fs-showcase_v2_5.fs-mobile .fs-entry-container {
              width: 33.333333333333336% !important;
              padding-top: 33.333333333333336% !important;
            }
            .fs-wrapper div.fs-text-container .fs-entry-title,
            div.fs-detail-title {
              font-family: GerstnerProgramm;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
            }
            div.fs-text-container .fs-entry-date,
            div.fs-detail-container .fs-post-info,
            div.fs-wrapper div.fs-has-links::after,
            .fs-text-product,
            .fs-overlink-text {
              font-family: GerstnerProgramm;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
            }
            .fs-wrapper div.fs-text-container * {
              color: #ffffff;
            }
            .fs-wrapper div.fs-text-container {
              background-color: rgba(0, 0, 0, 0.8);
              margin: 0px;
            }
            div.fs-entry-date {
              display: none;
            }
            div.fs-service-icon {
              display: none;
            }
            div.fs-entry-title {
              display: none;
            }
          </style>
        </div>
        <div class="desktop_foursixty_gallery-pdp-slider" style="display: none;">
          <div id="foursixty-hideable-container">
            <script type="lazyload_int"
              data-src="//foursixty.com/media/scripts/fs.slider.v2.5.js"
              data-defer-image-loading="true"
              data-feed-id="vitaly-design"
              data-theme="slider_v2_5"
              data-open-links-in-same-page="true"
              data-connector-filter="40487"
              data-cell-size="25%"
              data-has-posts-selector="#foursixty-hideable-container"
              data-for-url="true"
            ></script>
            <!--
              {%raw%}<script>FoursixtyEmbed.moneyFormat = function(v) { return theme.moneyFormat.replace(/{{.*amount.*}}/, v.amount) }</script>{%endraw%}
            -->
            <style>
              .fs-has-links::after {
                padding: 10px 15px;
                border: 1px solid #ffffff;
                color: #ffffff;
                content: 'SHOP THIS LOOK';
              }
              .fs-has-links:hover:after {
                background-color: #ffffff;
                color: rgba(0, 0, 0, 0.8);
              }
              .fs-showcase_v2_5.fs-desktop .fs-entry-container {
                width: 25% !important;
                padding-top: 25% !important;
              }
              .fs-showcase_v2_5.fs-mobile .fs-entry-container {
                width: 50% !important;
                padding-top: 50% !important;
              }
              .fs-wrapper div.fs-text-container .fs-entry-title,
              div.fs-detail-title {
                font-family: GerstnerProgramm;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
              }
              div.fs-text-container .fs-entry-date,
              div.fs-detail-container .fs-post-info,
              div.fs-wrapper div.fs-has-links::after,
              .fs-text-product,
              .fs-overlink-text {
                font-family: GerstnerProgramm;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
              }
              .fs-wrapper div.fs-text-container * {
                color: #ffffff;
              }
              .fs-wrapper div.fs-text-container {
                background-color: rgba(0, 0, 0, 0.8);
                margin: 0px;
              }
              div.fs-entry-date {
                display: none;
              }
              div.fs-service-icon {
                display: none;
              }
              div.fs-entry-title {
                display: none;
              }
              .fs-showcase_v2_5.fs-wrapper div.fs-timeline-entry {
                margin: 0px;
              }
            </style>
          </div>
        </div>
        <div class="desktop_foursixty_gallery-pdp-grid" style="display: none;">
          <script type="lazyload_int"
            data-src="//foursixty.com/media/scripts/fs.embed.v2.5.js"
            data-defer-image-loading="false"
            data-feed-id="vitaly-design"
            data-theme="showcase_v2_5"
            data-open-links-in-same-page="true"
            data-connector-filter="40487"
            data-page-size="8"
            data-has-posts-selector="#foursixty-hideable-container"
            data-for-url="true"
          ></script>
          <style>
            .fs-has-links::after {
              padding: 10px 15px;
              border: 1px solid #ffffff;
              color: #ffffff;
              content: 'SHOP THIS LOOK';
            }
            .fs-has-links:hover:after {
              background-color: #ffffff;
              color: rgba(0, 0, 0, 0.8);
            }
            .fs-showcase_v2_5.fs-desktop .fs-entry-container {
              width: 25% !important;
              padding-top: 25% !important;
            }
            .fs-showcase_v2_5.fs-mobile .fs-entry-container {
              width: 50% !important;
              padding-top: 50% !important;
            }
            .fs-wrapper div.fs-text-container .fs-entry-title,
            div.fs-detail-title {
              font-family: GerstnerProgramm;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
            }
            div.fs-text-container .fs-entry-date,
            div.fs-detail-container .fs-post-info,
            div.fs-wrapper div.fs-has-links::after,
            .fs-text-product,
            .fs-overlink-text {
              font-family: GerstnerProgramm;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
            }
            .fs-wrapper div.fs-text-container * {
              color: #ffffff;
            }
            .fs-wrapper div.fs-text-container {
              background-color: rgba(0, 0, 0, 0.8);
              margin: 0px;
            }
            div.fs-entry-date {
              display: none;
            }
            div.fs-service-icon {
              display: none;
            }
            div.fs-entry-title {
              display: none;
            }
            .fs-showcase_v2_5.fs-wrapper div.fs-timeline-entry {
              margin: 0px;
            }
          </style>
        </div>
      {% endif %}
    </div>
    {% if section.settings.for_pdp == false %}
      <div class="blog__view-all foursixty__view-all center">
        <a href="/pages/shop-instagram" class="cta-link"> Shop The Feed </a>
      </div>
    {% endif %}
  </div>
</div>

{% style %}
  .community-section-wrapper {
    background-color: rgba(var(--color-base-accent-1));
    padding: 0;
  }

  .foursixty-section {
    background-color: rgba(var(--color-base-accent-1));
    max-width: 2600px;
    margin: 0 auto;
  }
  .fs-wrapper {
    padding-right: 10px;
  }

  .community-ticker {
    color: rgba(var(--color-base-background-1));
    padding: 25px 0 25px;
    background-color: rgba(var(--color-base-accent-1));
  }

  .foursixty-section-marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
  }

  .foursixty-section-marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: foursixty-section-marquee 15s linear infinite;
  }

  .foursixty-section-marquee span {
    padding: 0 60px;
    white-space: nowrap;
  }

  @keyframes foursixty-section-marquee {
    0% {
      transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
      transform: translate3d(var(--move-final), 0, 0);
    }
  }

  .fs-showcase_v2_5.fs-mobile .fs-entry-container {
    width: calc(50% - 10px) !important;
    padding-top: calc(50% - 10px) !important;
  }

  .fs-showcase_v2_5.fs-desktop .fs-entry-container {
    width: calc(25% - 10px) !important;
    padding-top: calc(25% - 10px) !important;
  }

  .fs-showcase_v2_5.fs-mobile .fs-entry-container,
  .fs-showcase_v2_5.fs-desktop .fs-entry-container {
    border: 1px solid rgba(var(--color-base-background-1));
    margin-left: 10px;
    margin-bottom: 6px;
  }

  .fs-slider_v2_5.fs-desktop .fs-entry-container {
    width: calc(25% - 10px) !important;
    padding-top: calc(25% - 10px) !important;
    margin-left: 10px;
  }

  .foursixty__view-all {
    padding: 5px 0 12px;
  }

  .foursixty__view-all a {
    color: rgba(var(--color-base-background-1));
  }

  .desktop_foursixty_gallery-pdp-slider .fs-slider_v2_5-feed .fs-entry-container {
    border: 1px solid rgba(var(--color-base-background-1));
  }

  @media screen and (min-width: 770px) {
    .mobile_foursixty_gallery {
      display: none;
    }
    .desktop_foursixty_gallery {
      display: block;
    }
  }

  /* Foursixty */
  .foursixty-page-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  @media screen and (max-width: 426px) {
    p.foursixty-tooltip {
      text-align: center;
      margin-top: -12px;
    }
  }
  @media screen and (min-width: 427px) {
    p.foursixty-tooltip {
      text-align: center;
      margin-top: -24px;
    }
  }
  .instagram-section {
    border-top: 1px solid #d1d1d1;
    margin-bottom: 50px;
  }
  .fs-slider-next-button,
  .fs-slider-prev-button {
    opacity: 1 !important;
    background: transparent;
  }
  .fs-slider-next-button svg path,
  .fs-slider-prev-button svg path {
    stroke: #fff !important;
  }
  @media screen and (min-width: 641px) {
    .instagram-section .u-h1 {
      margin-top: 75px;
    }
    .instagram-section .SectionHeader {
      margin-bottom: 60px;
    }
  }
  @media screen and (max-width: 640px) {
    .instagram-section .u-h1 {
      margin-top: 50px;
    }
    .fs-slider-next-button,
    .fs-slider-prev-button {
      display: block !important;
      top: calc(50% - 17px);
    }
    .fs-slider-prev-button {
      left: 10px !important;
    }
    .fs-slider-next-button {
      right: -20px !important;
    }
  }
  @media screen and (min-width: 641px) and (max-width: 1007px) {
    .fs-slider-next-button,
    .fs-slider-prev-button {
      display: block !important;
      top: calc(50% - 17px);
    }
    .fs-slider-prev-button {
      left: 10px !important;
    }
    .fs-slider-next-button {
      right: -20px !important;
    }
  }
  p.foursixty_header {
    font-style: normal;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
  }
  .foursixty_productpage {
    margin-bottom: 10px;
  }

  .foursixty_productpage .fs-wrapper div.fs-timeline-entry {
    margin: 0 !important;
  }
  .foursixty_productpage .fs-entry-container {
    margin-left: 10px;
    width: calc(20% - 7.5px) !important;
    padding-top: calc(20% - 7.5px) !important;
  }

  .foursixty_productpage .fs-entry-container:first-child {
    margin-left: 0;
  }

  @media only screen and (max-width: 768px) {
    .foursixty_productpage .fs-mobile div.fs-entry-container,
    .fs-desktop div.fs-entry-container {
      height: 0;
      width: calc(100% / 3 - 5px) !important;
      padding-top: calc(100% / 3 - 5px) !important;
    }
  }
  .fs-timeline-detail {
    background-color: rgba(255, 255, 255, 1);
  }
  #fs-detail-branding {
    opacity: 0 !important;
  }
  .fs-detail-shares {
    display: none !important;
  }
  .fs-add-to-cart-enabled .fs-view a,
  .fs-add-to-cart-enabled .fs-view a:link {
    letter-spacing: 0.1em;
    font-size: 11px;
  }
  .fs-shopify-options a {
    letter-spacing: 0.1em;
    font-size: 11px !important;
    font-weight: normal !important;
  }
  .fs-slider-next-button,
  .fs-slider-prev-button {
    z-index: 1 !important;
  }
  .fs-detail-product-container {
    text-align: center;
    padding: 0 0 0 15px;
  }
  /* Foursixty Add to Cart */
  .fs-add-to-cart-enabled .fs-buy-button {
    display: block;
    cursor: pointer;
    transition: all 0.5s;
    padding: 14px 28px;
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transition: all 0.25s;
    white-space: nowrap;
    background: #222;
    color: #fff;
    border: 0;
  }
  .fs-add-to-cart-enabled .fs-option-label {
    display: inline-block;
    padding: 14px 28px;
    letter-spacing: 0.2em;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    cursor: hand;
    margin: 0;
  }
  .fs-buy-product-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  .fs-product-inner-price {
    display: block;
    color: #6a6a6a;
    font-size: 15px;
    letter-spacing: 0.1em;
  }
  .fs-option-name {
    text-transform: uppercase;
    color: #6a6a6a;
    font-size: 12px !important;
    letter-spacing: 0.1em;
    margin-bottom: 3px;
  }
  .fs-add-to-cart-enabled .fs-buy-now-branding {
    display: none;
  }
  .fs-shopify-add-cart.fs-shopify-add-cart-container {
    letter-spacing: 0.2em;
    font-size: 10px;
    font-weight: normal;
    color: #fff;
    padding: 12px 10px;
  }
  .fs-shopify-add-cart {
    min-width: 125px;
  }

  .fs-product-name,
  .fs-product-price {
    font-size: 12px;
    text-transform: capitalize;
  }

  .fs-post-info {
    font-size: 10px !important;
  }

  .fs-product-column {
    margin-bottom: 20px;
  }
  .fs-detail-right {
    display: flex !important;
    flex-direction: column !important;
  }
{% endstyle %}

{% if section.settings.for_pdp %}
  <script type="lazyload_int">
    setTimeout(function () {
      var pageWidth = document.querySelector('body').scrollWidth;

      var numberOfPosts = document
        .getElementById('foursixty-hideable-container')
        .getElementsByClassName('fs-slider-container')[0]
        .getElementsByClassName('fs-timeline')[0].childElementCount;

      var pdpTicker = document.querySelector('.foursixty-section-marquee__inner-pdp');
      var regTicker = document.querySelector('.foursixty-section-marquee__inner-reg');
      var desktopGridPdp = document.querySelector('.desktop_foursixty_gallery-pdp-grid');
      var desktopSliderPdp = document.querySelector('.desktop_foursixty_gallery-pdp-slider');
      var desktopGridReg = document.querySelector('.desktop_foursixty_gallery');
      var mobileGridReg = document.querySelector('.mobile_foursixty_gallery');
      var mobileGridPdp = document.querySelector('.mobile_foursixty_gallery-pdp-grid');
      var mobileSliderPdp = document.querySelector('.mobile_foursixty_gallery-pdp-slider');

      if (numberOfPosts > 3 && numberOfPosts < 8 && numberOfPosts != 4 && pageWidth >= 770) {
        pdpTicker.style.display = 'flex';
        desktopSliderPdp.style.display = 'block';
      } else if ((numberOfPosts >= 8 && pageWidth >= 770) || (numberOfPosts == 4 && pageWidth >= 770)) {
        pdpTicker.style.display = 'flex';
        desktopGridPdp.style.display = 'block';
      } else if (pageWidth >= 770) {
        regTicker.style.display = 'flex';
        desktopGridReg.style.display = 'block';
      } else if (numberOfPosts >= 2 && pageWidth < 770) {
        pdpTicker.style.display = 'flex';
        mobileGridPdp.style.display = 'block';
      } else {
        regTicker.style.display = 'flex';
        mobileGridReg.style.display = 'block';
      }
    }, 2000);
  </script>
{% endif %}

{% schema %}
{
  "name": "Foursixty Section",
  "tag": "section",
  "class": "foursixty-section id-foursixty-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "for_pdp",
      "default": false,
      "label": "For product page"
    },
    {
      "type": "text",
      "id": "ticker_text",
      "default": "Join our community.",
      "label": "Text for ticker"
    },
    {
      "type": "text",
      "id": "ticker_text_pdp",
      "default": "How you style the ",
      "label": "Text for ticker"
    }
  ],
  "presets": [
    {
      "name": "Foursixty Feed"
    }
  ]
}
{% endschema %}
