{% if template contains 'index' or template contains 'collection' or template contains 'product' %}
    
{% else %}
    <style>.card-colored.color-background-1,.card.card--soft{background-color:rgba(var(--color-foreground),.04)}.card,.card--media,.card-wrapper,.card-wrapper-link{text-decoration:none}.collection{position:relative}@media screen and (max-width:989px){.collection .slider.slider--tablet{margin-bottom:10px}}.collection .loading-overlay{top:0;right:0;bottom:0;left:0;display:none;width:100%;padding:0 1.5rem;opacity:.7}.collection.loading .loading-overlay{display:block}.collection--empty .title-wrapper{margin-top:10rem;margin-bottom:15rem}.loading-overlay{position:absolute;z-index:1;width:1.8rem}.card--product,.card-wrapper{position:relative}@media screen and (max-width:749px){.collection .grid__item:only-child{flex:0 0 100%;max-width:100%}.collection .title:not(.title--no-heading){margin:10px 0}.loading-overlay{top:0;right:0}}.loading-overlay__spinner{width:1.8rem;display:inline-block}.spinner{animation:1.4s linear infinite rotator}@keyframes rotator{0%{transform:rotate(0)}to{transform:rotate(270deg)}}.path{stroke-dasharray:280;stroke-dashoffset:0;transform-origin:center;stroke:rgb(var(--color-foreground));animation:1.4s ease-in-out infinite dash}@media screen and (forced-colors:active){.path{stroke:CanvasText}}@keyframes dash{0%{stroke-dashoffset:280}50%{stroke-dashoffset:75;transform:rotate(135deg)}to{stroke-dashoffset:280;transform:rotate(450deg)}}.loading-overlay:not(.hidden)+.cart-item__price-wrapper,.loading-overlay:not(.hidden)~cart-remove-button{opacity:50%}.loading-overlay:not(.hidden)~cart-remove-button{pointer-events:none;cursor:default}.card{display:block;overflow:hidden}.card-information+.card{margin-bottom:1.3rem}.price-color-swatch-wrapper{display:flex;justify-content:space-between;align-items:flex-end;flex-direction:column}.card.card--soft{color:rgb(var(--color-foreground))}.card .icon-wrap{margin-left:.8rem;white-space:nowrap;transition:transform var(--duration-short) ease;overflow:hidden}.card--media{display:block}.card--text-only{display:flex;justify-content:center}.card--text-only.card--product{position:static}.card--text-only:before{content:"";display:block;padding-bottom:100%}.card--stretch{height:100%}.card--light-border{border:.1rem solid rgba(var(--color-foreground),.04)}.card--light-border:hover{border:.1rem solid rgba(var(--color-foreground),.3);box-shadow:none}.card__text-spacing{padding:3rem}.card--media .card__text-spacing,.card__media-full-spacer{padding:2rem}@media screen and (min-width:750px){.collection .title-wrapper-with-link--no-heading{margin-top:calc(6rem + var(--page-width-margin))}.collection .loading-overlay{padding-left:5rem;padding-right:5rem}.loading-overlay{left:0}.card-information+.card{margin-bottom:10px}.card--media .card__text-spacing{padding-left:3rem;padding-right:3rem;display:none}}.card-information>*+*{margin-top:.5rem}.card--text-only .card__inner{display:grid;grid-template-rows:1fr auto 1fr;width:100%}.card__content{margin-left:2.5rem;margin-right:2.5rem}.card__content>*,.card__text-spacing>*{margin:0}.card--text-only .card__content{grid-row:2;justify-self:flex-start;margin-bottom:6rem;margin-top:5rem}.card--text-only .card__badge{align-self:flex-end;grid-row:3}.card--search .card__badge>*,.card--text-only .card__badge>*{margin:0 1.2rem 1.2rem}.card--search .card__badge,.card--text-only .card__badge{position:initial}.card--text-only .card__content+.card__badge{margin-top:-5rem}.media+.card__content{margin-top:2rem;margin-bottom:1.5rem}.card__text-spacing>:not(.overlay-card)+*{margin-top:1.5rem}.card__text{margin:0;word-break:break-word}.card-information__text{display:block;font-size:1.6rem;font-weight:700;line-height:1;margin:12px 0 10px}.price,.price--large{line-height:calc(1 + .5 / var(--font-body-scale))}.card-information__wrapper.card-information__wrapper--grid .card-information__text{grid-area:title;margin:0}.card-information__wrapper.card-information__wrapper--grid>*{line-height:calc(1 + .4 / var(--font-body-scale));color:rgb(var(--color-foreground))}.card-information__wrapper .price{font-size:1.3rem}.fa-star-half-o:before,.fa-star-o:before,.fa-star:before,.stamped-badge:before,.stamped-fa-star-half-o:before,.stamped-fa-star-o:before,.stamped-fa-star:before{font-size:13px!important}.card-information__wrapper.card-information__wrapper--grid .price{color:rgb(var(--color-foreground));grid-area:price;margin:0}.card-information__wrapper.card-information__wrapper--grid .stamped-product-reviews-badge{grid-area:reviews}.card-information__wrapper.card-information__wrapper--grid{grid-area:swatches;justify-content:end;width:100%;display:grid;grid-template-areas:"title title" "reviews reviews" "price swatches"}.card-information__wrapper.card-information__wrapper--grid>.rating{margin-top:.4rem}.card-wrapper{color:inherit;display:flex;flex-direction:column;justify-content:space-between;background-color:rgba(var(--color-base-background-2));border:1px solid rgba(var(--color-base-accent-1));height:100%;box-sizing:border-box}.card-wrapper .card-information{order:1;padding:10px}.card-wrapper.card-wrapper--grid .card-information{padding:0 5px 5px}.card-wrapper .full-unstyled-link:after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;z-index:1}.card-wrapper .full-unstyled-link:focus-visible{outline:0;box-shadow:none}.card-wrapper .full-unstyled-link:focus-visible:after{outline:.2rem solid rgba(var(--color-foreground),.5);outline-offset:.3rem;box-shadow:0 0 0 .3rem rgb(var(--color-background)),0 0 .5rem .4rem rgba(var(--color-foreground),.3)}.card-wrapper:focus-within .card{box-shadow:none}.card__media-spacer{padding:2rem 2rem 0}@media screen and (min-width:750px){.card--text-only .card__content{margin-top:7rem;margin-bottom:7rem}.card--text-only .card__content+.card__badge{margin-top:-7rem}.card-information__wrapper.card-information__wrapper--grid{grid-template-areas:"title price" "reviews swatches"}.card-information__wrapper.card-information__wrapper--grid .price{justify-content:end}.card__media-spacer{padding:3rem 3rem 0}.price{margin-bottom:0}}.card-article-info{margin-top:1rem;display:flex;flex-wrap:wrap}.card__badge{display:flex;flex-wrap:wrap;position:absolute;top:10px;left:10px}.card__badge .on-sale-badge{border:none;background-color:red;border-radius:0}.card__badge .sold-out-badge{border:none;background-color:rgba(var(--color-base-accent-1));border-radius:0;text-transform:capitalize}.overlay-card{position:absolute;top:0;bottom:0;left:0;right:0;display:flex;background:0 0;transition:background-color var(--duration-long) ease}.card:hover .card-colored .overlay-card{background-color:rgba(var(--color-card-hover),.06)}.card-information__wrapper.card-information__wrapper--grid .ProductCard-ColorSwatches{display:flex;align-items:flex-end;margin:0}.ProductCard-ColorSwatches .options-values-wrapper{display:flex;flex-wrap:wrap;gap:5px;padding-bottom:2.5px}.card-information__wrapper.card-information__wrapper--grid .ProductCard-ColorSwatches .options-values-wrapper{gap:0;padding-bottom:2.5px}@media screen and (min-width:500px){.ProductCard-ColorSwatches .options-values-wrapper{padding-bottom:1.5px}}.ProductCard-ColorSwatches{margin-top:12px}.ProductCard-ColorSwatches input[type=radio]{clip:rect(0,0,0,0);overflow:hidden;position:absolute;height:1px;width:1px}.ProductCard-ColorSwatches input[type=radio]+label{--color-swatch-size:22px;border:1px solid rgba(var(--color-base-accent-2));display:inline-block;font-size:1.4rem;letter-spacing:.1rem;line-height:1;text-align:center;transition:border var(--duration-short) ease;cursor:pointer;display:flex;justify-content:center;align-items:center;min-width:auto;height:var(--color-swatch-size);width:var(--color-swatch-size);padding:0;background-size:cover}.card-information__wrapper.card-information__wrapper--grid .ProductCard-ColorSwatches input[type=radio]+label{--color-swatch-size:13px;margin:0 0 0 8px}.ProductCard-ColorSwatches input[type=radio]+label:hover,.ProductCard-ColorSwatches input[type=radio]:checked+label{border:.1rem solid rgb(var(--color-foreground))}.stamped-badge:before{content:"("attr(data-rating) ") "!important}span.stamped-badge-caption{display:none}.stamped-badge[data-rating="0.0"]{display:none!important}.price{align-items:center;display:flex;flex-direction:row;flex-wrap:wrap;font-size:12px;color:rgb(var(--color-foreground))}.price.price--unavailable{visibility:hidden}.price--end{justify-content:flex-end}.price:not(.price--show-badge) .price-item--last:last-of-type{margin-left:5px}.price--large{font-size:1.6rem;letter-spacing:.13rem}.price--sold-out .price__availability,.price__regular{display:block}.grid__item-brand-callout-desktop,.price .price__badge-bestseller,.price .price__badge-collaboration,.price .price__badge-final-sale,.price .price__badge-low-stock,.price .price__badge-new,.price .price__badge-sale,.price .price__badge-sold-out,.price--on-sale .price__availability,.price--on-sale .price__regular,.price__availability,.price__sale{display:none}.price--is-bestseller .price__badge-bestseller,.price--is-collaboration .price__badge-collaboration,.price--is-new .price__badge-new,.price--low-stock .price__badge-low-stock,.price--on-final-sale .price__badge-final-sale,.price--on-sale .price__badge-sale,.price--sold-out .price__badge-sold-out,.rte blockquote{display:inline-flex}.price--on-sale .price__sale{display:flex;flex-direction:row;flex-wrap:wrap;align-items:center}.price--center{display:flex;justify-content:center}.price--on-sale .price-item--regular{text-decoration:line-through;color:rgba(var(--color-foreground),.5)}.price-item--sale{color:var(--color-sale-price);font-weight:700}.unit-price{display:block;font-size:1.1rem;letter-spacing:.04rem;line-height:calc(1 + .2 / var(--font-body-scale));margin-top:.2rem;text-transform:uppercase;color:rgba(var(--color-foreground),.7)}.product-grid{--grid-desktop-horizontal-spacing:10px;gap:var(--grid-desktop-horizontal-spacing);margin-left:0;margin-top:10px}.product-grid .grid__item{padding:0}.grid__item-placeholder{width:0!important;height:0;padding:0!important}.grid__item-brand-callout{width:100%!important;max-width:100%!important;padding-right:0!important}.brand-callout-card{border:1px solid rgba(var(--color-base-accent-1));padding:0 20px 25px!important;background-color:rgba(var(--color-base-accent-1));color:rgba(var(--color-base-background-1))}.grid__item-brand-callout h2{color:rgba(var(--color-base-background-1));font-size:30px}.grid__item-brand-callout p{font-size:16px}@media screen and (min-width:990px){.card .media.media--hover-effect>img:only-child,.card--search img,.card-wrapper .media.media--hover-effect>img:only-child{transition:transform var(--duration-long) ease}.card__inner:hover .media.media--hover-effect>img:first-child:not(:only-child){opacity:0}.card__inner:hover .media.media--hover-effect>img+img{opacity:1}.card__inner:hover .card-information__text,.card__inner:hover .card__text{text-decoration:underline;text-underline-offset:.3rem}.card__inner:hover .card--soft{background-color:rgba(var(--color-card-hover),.06);transition:background-color var(--duration-long) ease}.product-type-menu-wrapper #main-collection-filters{position:absolute;width:auto;height:auto}.grid__item-placeholder{display:none}.grid__item-brand-callout{width:calc(25% - .75rem)!important}.brand-callout-card{display:flex;flex-direction:column;justify-content:space-between;height:100%}.grid__item-brand-callout h2{font-size:20px}.grid__item-brand-callout p{font-size:14px}.grid__item-brand-callout-mobile{display:none}.grid__item-brand-callout-desktop{display:block}}@media screen and (min-width:1260px){.grid__item-brand-callout h2{font-size:30px}}@media screen and (min-width:750px) and (max-width:989px){#product-grid.grid--1-col-tablet.grid--peek .grid__item{width:calc(100% - var(--grid-desktop-horizontal-spacing) - 3rem)}#product-grid.grid--2-col-tablet .grid__item{width:calc(50% - var(--grid-desktop-horizontal-spacing)/ 2);max-width:calc(50% - var(--grid-desktop-horizontal-spacing)/ 2)}#product-grid.grid--3-col-tablet .grid__item{width:calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);max-width:calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3)}}@media screen and (min-width:990px){#product-grid.grid--6-col-desktop .grid__item{width:calc(16.66% - var(--grid-desktop-horizontal-spacing) * 5 / 6);max-width:calc(16.66% - var(--grid-desktop-horizontal-spacing) * 5 / 6)}#product-grid.grid--5-col-desktop .grid__item{width:calc(20% - var(--grid-desktop-horizontal-spacing) * 4 / 5);max-width:calc(20% - var(--grid-desktop-horizontal-spacing) * 4 / 5)}#product-grid.grid--4-col-desktop .grid__item{width:calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);max-width:calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4)}#product-grid.grid--3-col-desktop .grid__item{width:calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);max-width:calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3)}#product-grid.grid--2-col-desktop .grid__item{width:calc(50% - var(--grid-desktop-horizontal-spacing)/ 2);max-width:calc(50% - var(--grid-desktop-horizontal-spacing)/ 2)}#product-grid.grid--1-col-desktop{flex:0 0 100%;max-width:100%}#product-grid.grid--1-col-desktop .grid__item{width:100%;max-width:100%}}.rte:after{clear:both;content:"";display:block}.rte>p:first-child{margin-top:0}.rte li:last-child,.rte>p:last-child{margin-bottom:0}.rte table{table-layout:fixed}@media screen and (min-width:750px){.price--large{font-size:1.8rem}.grid__item-brand-callout-mobile{display:none}.rte table td{padding-left:1.2rem;padding-right:1.2rem}}.rte img{display:block;height:auto;max-width:100%;margin-bottom:-.5rem}.rte ul{padding-left:2rem}.rte li{list-style:inherit}.rte a{color:rgba(var(--color-base-accent-1));text-underline-offset:.3rem;text-decoration-thickness:.1rem;transition:text-decoration-thickness var(--duration-short) ease;text-decoration-skip-ink:none}.rte a:hover{color:rgb(var(--color-link))}.rte blockquote>*{margin:-.5rem 0}</style>
{% endif %}
<link rel="stylesheet" data-href="{{ 'template-collection.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-loading-overlay.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-card.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-price.css' | asset_url }}">
{% comment %} Holds RTE styles {% endcomment %}
<link rel="stylesheet" data-href="{{ 'component-rte.css' | asset_url }}">
{% comment %} This holds the styles for Moments of Pause & New styles {% endcomment %}
<link rel="stylesheet" data-href="{{ 'component-product-grid.css' | asset_url }}">

{% comment %} NEW: quick add. We should add this. It's great.  {% endcomment %}
{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script type="lazyload_int" data-src="{{ 'quick-add.js' | asset_url }}"></script>
  <script type="lazyload_int" data-src="{{ 'product-form.js' | asset_url }}"></script>
{%- endif -%}

{%- style -%}
  /* NEW: These might conflict with the current padding system */
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

    /* This is for the collaout cards. */
    .brand-callout-card .rich-text__text a {
      color: rgba(var(--color-base-background-1));
    }
    .brand-callout-card .rich-text__text a:hover {
      color: rgba(var(--color-base-background-1));
    }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
      <facet-filters-form class="facets facets-vertical-sort page-width small-hide no-js-hidden">
        <form class="facets-vertical-form" id="FacetSortForm">
          <div class="product-count-vertical light" role="status">
            <h2 class="product-count__text text-body">
              <span id="ProductCountDesktop">
                {%- if collection.results_count -%}
                  {{
                    'templates.search.results_with_count'
                    | t: terms: collection.terms, count: collection.results_count
                  }}
                {%- elsif collection.products_count == collection.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: collection.products_count, count: collection.all_products_count
                  }}
                {%- endif -%}
              </span>
            </h2>
            <div class="loading-overlay__spinner">
              <svg
                aria-hidden="true"
                focusable="false"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>
        </form>
      </facet-filters-form>
    {%- endif -%}

    <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
      
      <link rel="stylesheet" data-href="{{ 'component-facets-dawn.css' | asset_url }}">
      <script type="lazyload_int" data-src="{{ 'facets-dawn.js' | asset_url }}"></script>
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          {% render 'facets-dawn',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: section.settings.filter_type,
            paginate: paginate, 
            pills_layout: section.settings.pills_layout
          %}
        </aside>
      {%- endif -%}
      <div class="product-grid-container-wrapper product-grid-container-wrapper--{{- section.settings.filter_type -}}">
        {% if section.settings.filter_type == 'vertical' and section.settings.pills_layout == 'horizontal' %}
          {%- liquid
            assign sort_by = collection.sort_by | default: collection.default_sort_by
            assign total_active_values = 0
            if collection.url
              assign collection_url = collection.url
            else
              assign terms = collection.terms | escape
              assign collection_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
            endif
            for option in collection.sort_options
              if option.value == sort_by
                assign current_sort_by_name = option.name
              endif 
            endfor
          -%}
          <div id="HorizontalPills" class="active-facets-mobile-wrapper">
            <div class="active-facets active-facets-mobile">
              {%- for filter in collection.filters -%}
                {%- for value in filter.active_values -%}
                  <facet-remove>
                    <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                      <span class="active-facets__button-inner button button--tertiary">
                        {{ value.label | escape }}
                        {% render 'icon-close-small' %}
                        <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                      </span>
                    </a>
                  </facet-remove>
                {%- endfor -%}
        
                {%- if filter.type == 'price_range' -%}
                  {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                    <facet-remove>
                      <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                        <span class="active-facets__button-inner button button--tertiary">
                          {%- if filter.min_value.value -%}
                            {{ filter.min_value.value | money }}
                          {%- else -%}
                            {{ 0 | money }}
                          {%- endif -%}
                          -
                          {%- if filter.max_value.value -%}
                            {{ filter.max_value.value | money }}
                          {%- else -%}
                            {{ filter.range_max | money }}
                          {%- endif -%}
                          {% render 'icon-close-small' %}
                          <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                        </span>
                      </a>
                    </facet-remove>
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}
              <facet-remove>
                <a href="{{ collection_url }}" class="active-facets__button active-facets__button--light active-facets_button--clear-all">
                  <span class="active-facets__button-inner button button--tertiary">
                    {{ 'products.facets.clear_all' | t }}
                  </span>
                </a>
              </facet-remove>
            </div>
          </div>
        {% endif %}
        <div class="product-grid-container" id="ProductGridContainer">
          {%- if collection.products.size == 0 -%}
            <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
              <div class="loading-overlay gradient"></div>
              <div class="title-wrapper center">
                <h2 class="title title--primary">
                  {{ 'sections.collection_template.empty' | t -}}
                  <br>
                  {{
                    'sections.collection_template.use_fewer_filters_html'
                    | t: link: collection.url, class: 'underlined-link link'
                  }}
                </h2>
              </div>
            </div>
          {%- else -%}
            <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
              <div class="loading-overlay gradient"></div>

              <ul
                id="product-grid"
                data-id="{{ section.id }}"
                class="grid product-grid grid--{{ section.settings.columns_mobile }}-col grid--{{ section.settings.columns_tablet }}-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop"
              >
                {%- for product in collection.products -%}
                  {% assign lazy_load = false %}
                  {%- if forloop.index > 2 -%}
                    {%- assign lazy_load = true -%}
                  {%- endif -%}
                  <li class="grid__item">
                    {% render 'product-card',
                      product_card_product: product,
                      media_size: section.settings.image_ratio,
                      show_secondary_image: section.settings.show_secondary_image,
                      add_image_padding: section.settings.add_image_padding,
                      show_vendor: section.settings.show_vendor,
                      show_image_outline: section.settings.show_image_outline,
                      show_rating: section.settings.show_rating, 
                      lazy_load = lazy_load
                    %}
                    {% comment %}
                      {% render 'card-product',
                        card_product: product,
                        media_aspect_ratio: section.settings.image_ratio,
                        show_secondary_image: section.settings.show_secondary_image,
                        show_vendor: section.settings.show_vendor,
                        show_rating: section.settings.show_rating,
                        lazy_load: lazy_load,
                        show_quick_add: section.settings.enable_quick_add,
                        section_id: section.id
                      %}
                    {% endcomment %}
                  </li>
                  {% if forloop.index == 8 %}
                    {% if paginate.current_page == 1
                      or paginate.current_page == 3
                      or paginate.current_page == 5
                      or paginate.current_page == 7
                      or paginate.current_page == 9
                      or paginate.current_page == 11
                    %}
                      {% unless section.settings.show_brand_callouts == false %}
                        <li class="grid__item grid__item-brand-callout grid__item-brand-callout-mobile">
                          <div class="brand-callout-card">
                            <h2>{{ section.settings.brand_callout_title_1 }}</h2>
                            <div class="rich-text__text rte">{{ section.settings.brand_callout_text_1 }}</div>
                          </div>
                        </li>
                        {% comment %} <li class="grid__item grid__item-placeholder"></li> {% endcomment %}
                      {% endunless %}

                    {% else %}
                      {% unless section.settings.show_brand_callouts == false %}
                        <li class="grid__item grid__item-brand-callout grid__item-brand-callout-mobile">
                          <div class="brand-callout-card">
                            <h2>{{ section.settings.brand_callout_title_2 }}</h2>
                            <div class="rich-text__text rte">{{ section.settings.brand_callout_text_2 }}</div>
                          </div>
                        </li>
                        {% comment %} <li class="grid__item grid__item-placeholder"></li> {% endcomment %}
                      {% endunless %}
                    {%- endif -%}
                  {% endif %}
                {%- endfor -%}
              </ul>

              {%- if paginate.pages > 1 -%}
                {% render 'pagination', paginate: paginate, anchor: '' %}
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "New Product Grid",
  "class": "section",
  "presets": [
    {
      "name": "New Product Grid"
    }
  ],
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 48,
      "step": 1,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_tablet",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 3,
      "label": "Number of columns on tablet"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "select",
      "id": "pills_layout",
      "options": [
        {
          "value": "horizontal",
          "label": "Horizontal"
        },
        {
          "value": "vertical",
          "label": "Vertical"
        }
      ],
      "default": "horizontal",
      "label": "Pills Layout",
      "info": "Only available for Filter Type Vertical."
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "Brand callout cards"
    },
    {
      "type": "checkbox",
      "id": "show_brand_callouts",
      "default": true,
      "label": "Show Brand Callouts", 
      "info": "Only shown on Mobile."
    },
    {
      "type": "text",
      "id": "brand_callout_title_1",
      "default": "Genderless pieces produced with 100% recycled stainless steel.",
      "label": "Brand callout title 1"
    },
    {
      "type": "richtext",
      "id": "brand_callout_text_1",
      "default": "<p>Steel is the most recycled material on the planet. Each Vitaly piece may therefore contain remnants of machines, skyscrapers or car parts — a cycle that continually influences our design practice.</p>",
      "label": "Brand callout text 1"
    },
    {
      "type": "image_picker",
      "id": "brand_callout_image_1",
      "label": "Brand callout image 1"
    },
    {
      "type": "text",
      "id": "brand_callout_title_2",
      "default": "Genderless pieces produced with 100% recycled stainless steel.",
      "label": "Brand callout title 2"
    },
    {
      "type": "richtext",
      "id": "brand_callout_text_2",
      "default": "<p>Steel is the most recycled material on the planet. Each Vitaly piece may therefore contain remnants of machines, skyscrapers or car parts — a cycle that continually influences our design practice.</p>",
      "label": "Brand callout text 2"
    },
    {
      "type": "image_picker",
      "id": "brand_callout_image_2",
      "label": "Brand callout image 2"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
