{% if template contains 'index' or template contains 'collection' or template contains 'product' %}
    
{% else %}
    <style>.multicolumn .title,.multicolumn-list h3,.multicolumn-list p{margin:0}.multicolumn.no-heading .title{display:none}.multicolumn.background-secondary .title-wrapper-with-link{margin-top:0}.multicolumn-card__image-wrapper--third-width{width:33%}.multicolumn-card__image-wrapper--half-width{width:50%}.multicolumn-list__item.center .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),.multicolumn-list__item:only-child{margin-left:auto;margin-right:auto}.multicolumn .button{margin-top:1.5rem}.multicolumn-list{margin-bottom:0;padding:0}.multicolumn-list__item:only-child{max-width:72rem}.multicolumn:not(.background-none) .multicolumn-card{height:100%}.multicolumn.background-secondary .multicolumn-card{background:rgb(var(--color-background))}.multicolumn.background-secondary{padding:4rem 0 5rem}.multicolumn-list h3{line-height:calc(1 + .5/max(1,var(--font-heading-scale)))}.multicolumn-card-spacing{padding-top:2.5rem;margin-left:2.5rem;margin-right:2.5rem}.multicolumn-card__info>:nth-child(2){margin-top:1rem}.multicolumn-list__item .media--adapt img,.multicolumn-list__item.center .media--adapt{width:auto}.multicolumn-list__item.center .media--adapt img{left:50%;transform:translate(-50%)}.background-none .multicolumn-card-spacing{padding:0;margin:0}.multicolumn-card__info{padding:2.5rem}.background-none .multicolumn-card__info{padding-top:0;padding-left:0;padding-right:0}.background-none .slider .multicolumn-card__info{padding-bottom:0;padding-left:.5rem}.background-none .multicolumn-card__image-wrapper+.multicolumn-card__info{padding-top:2.5rem}.background-none .slider .multicolumn-card__image-wrapper+.multicolumn-card__info{padding-left:1.5rem}.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info{padding-left:2.5rem;padding-right:2.5rem}.multicolumn-card__info .link{text-decoration:none;font-size:inherit;margin-top:1.5rem}.multicolumn-card__info .icon-wrap{margin-left:.8rem;white-space:nowrap}@media screen and (max-width:990px){.multicolumn .page-width{padding:0}.multicolumn-list{margin:0;width:100%}.multicolumn-list__item{margin:0 0 1rem;padding:0}.multicolumn-list__item:last-of-type{margin-bottom:0;margin-left:10px}.multicolumn-list:not(.slider){padding-left:10px;padding-right:10px}.multicolumn-list.slider .multicolumn-list__item{width:calc(100% - 3rem)}.multicolumn-list.slider .multicolumn-list__item+.multicolumn-list__item{padding-left:.5rem}.multicolumn .slider__slide,.multicolumn .slider__slide:first-of-type{width:92%!important}.multicolumn .slider__slide:first-of-type{padding-left:10px}.multicolumn-list.slider .slider__slide+.slider__slide{padding-left:10px!important}.multicolumn-list.slider .slider__slide+.slider__slide:last-of-type{margin-right:10px}.multicolumn .slider__slide:last-of-type{margin-left:0}.multicolumn .slider.slider--mobile .slider__slide{margin-bottom:0;padding-bottom:5px}.multicolumn:not(.background-none) .multicolumn-card{height:auto}.multicolumn .slider--mobile+.slider-buttons{display:flex!important}}.multicolumn-card__info-inner,vertical-slider-component .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide{width:100%}.featured-collection-slider .grid{flex-wrap:nowrap;overflow:auto;scrollbar-width:none}.slider--everywhere,.slider.slider--mobile{position:relative;overflow-x:auto;scroll-snap-type:x mandatory;scroll-behavior:smooth;-webkit-overflow-scrolling:touch}.featured-collection-slider .grid::-webkit-scrollbar{display:none}slider-component{position:relative;display:block}slider-component ul{margin-top:0!important}.slider__slide{scroll-snap-align:start;flex-shrink:0}.slider.slider--mobile{flex-wrap:inherit}.multicolumn .slider.slider--mobile{scroll-padding-left:7.5%}.slider.slider--mobile .slider__slide{margin-bottom:0;padding-bottom:10px}.thumbnail-slider .slider.slider--mobile .slider__slide{padding-bottom:0}@media screen and (min-width:750px){.multicolumn .button{margin-top:4rem}.multicolumn.background-secondary{padding:calc(4rem + var(--page-width-margin)) 0 calc(5rem + var(--page-width-margin))}.multicolumn-list.grid--4-col-desktop,.multicolumn-list.slider{padding:0}.grid--4-col-desktop .multicolumn-list__item,.multicolumn-list__item{padding-bottom:0}.grid--2-col-tablet .multicolumn-list__item{margin-top:1rem;max-width:50%}.background-none .grid--2-col-tablet .multicolumn-list__item{margin-top:4rem}.grid--2-col-tablet .multicolumn-list__item:nth-of-type(-n+2){margin-top:0}.background-none .multicolumn-card__image-wrapper{margin-left:1.5rem;margin-right:1.5rem}.background-none .multicolumn-list .multicolumn-card__info,.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info{padding-left:1.5rem;padding-right:1.5rem}.slider.slider--tablet-up{position:relative;flex-wrap:inherit;overflow-x:auto;scroll-snap-type:x mandatory;scroll-behavior:smooth;scroll-padding-left:1rem;-webkit-overflow-scrolling:touch}.slider.slider--tablet-up .slider__slide{margin-bottom:0;padding-bottom:10px}.slider--mobile+.slider-buttons{display:none}.product .slider--mobile+.slider-buttons{display:flex}}@media screen and (max-width:989px){.no-js slider-component .slider{padding-bottom:3rem}.slider.slider--tablet{position:relative;flex-wrap:inherit;overflow-x:auto;scroll-snap-type:x mandatory;scroll-behavior:smooth;scroll-padding-left:1rem;-webkit-overflow-scrolling:touch;margin-bottom:1rem}.slider.slider--tablet .slider__slide{margin-bottom:0;padding-bottom:10px}}.slider--everywhere{flex-wrap:inherit;margin-bottom:1rem}@media (prefers-reduced-motion){.slider--everywhere{scroll-behavior:auto}}.slider.slider--everywhere .slider__slide{margin-bottom:0;padding-bottom:0;scroll-snap-align:center}.slider{scrollbar-color:rgb(var(--color-foreground)) rgba(var(--color-foreground),.04);-ms-overflow-style:none;scrollbar-width:none}.slider::-webkit-scrollbar{height:.4rem;width:.4rem;display:none}.no-js .slider{-ms-overflow-style:auto;scrollbar-width:auto}.no-js .slider::-webkit-scrollbar{display:initial}.slider::-webkit-scrollbar-thumb{background-color:rgb(var(--color-foreground));border-radius:.4rem;border:0}.slider::-webkit-scrollbar-track{background:rgba(var(--color-foreground),.04);border-radius:.4rem}.slider-counter{margin:0 1.2rem;display:flex;min-width:2rem}.slider-counter__link{padding:1rem}@media screen and (max-width:749px){.multicolumn.no-heading.background-secondary{padding-top:5rem}.multicolumn .title-wrapper-with-link{margin-bottom:3rem}.multicolumn.background-secondary .slider-buttons{margin-bottom:-2rem}.background-none .slider .multicolumn-card__info{padding-bottom:1rem}.multicolumn.background-none .slider.slider--mobile{margin-bottom:0}.slider-counter--dots,.slider-counter--numbers{margin:0}.slider-counter__link{padding:.7rem}}.slider-counter__link--dots .dot{width:1rem;height:1rem;border-radius:50%;border:.1rem solid rgba(var(--color-foreground),.5);padding:0;display:block}.slider-counter__link--active.slider-counter__link--dots .dot{background-color:rgb(var(--color-foreground))}@media screen and (forced-colors:active){.slider-counter__link--active.slider-counter__link--dots .dot{background-color:CanvasText}}.slider-counter__link--dots:not(.slider-counter__link--active):hover .dot{border-color:rgb(var(--color-foreground))}.slider-counter__link--dots .dot,.slider-counter__link--numbers{transition:transform .2s ease-in-out}.slider-counter__link--active.slider-counter__link--numbers,.slider-counter__link--dots:not(.slider-counter__link--active):hover .dot,.slider-counter__link--numbers:hover{transform:scale(1.1)}.slider-counter__link--numbers{color:rgba(var(--color-foreground),.5);text-decoration:none}.slider-button:not([disabled]):hover,.slider-counter__link--numbers:hover{color:rgb(var(--color-foreground))}.slider-counter__link--active.slider-counter__link--numbers{text-decoration:underline;color:rgb(var(--color-foreground))}.slider-buttons{display:flex;align-items:center;justify-content:center;pointer-events:none}.slider-buttons button{pointer-events:auto}@media screen and (min-width:990px){.grid--2-col-tablet.grid--4-col-desktop .multicolumn-list__item{max-width:25%}.grid--2-col-tablet.grid--4-col-desktop .multicolumn-list__item:nth-of-type(-n+4){margin-top:0}.slider:not(.slider--everywhere)+.slider-buttons{display:none}.product .slider:not(.slider--everywhere)+.slider-buttons{display:flex}}.featured-collection-slider .slider-button,.slider-button{color:rgba(var(--color-base-accent-1));border:none;display:flex}.slider-button{background:0 0;cursor:pointer;width:30px;height:30px;align-items:center;justify-content:center}.slider-button .icon{height:.6rem}.slider-button[disabled] .icon{color:rgba(var(--color-foreground),.3);cursor:not-allowed}.slider-button--next .icon{transform:rotate(-90deg)}.slider-button--prev .icon{transform:rotate(90deg)}.slider-button--next:not([disabled]):hover .icon{transform:rotate(-90deg) scale(1.1)}.slider-button--prev:not([disabled]):hover .icon{transform:rotate(90deg) scale(1.1)}.slider-button[disabled]{background-color:transparent;cursor:not-allowed;visibility:hidden}@media screen and (min-width:1200px){.product--thumbnail_slider .product-media-gallery.product-media-gallery--with-vertical slider-component.thumbnail-slider{display:none}.product-media-gallery.product-media-gallery--with-vertical vertical-slider-component.thumbnail-slider{display:block}.product-media-gallery.product-media-gallery--with-vertical{display:flex;flex-direction:row-reverse}.product-media-gallery.product-media-gallery--with-vertical slider-component{width:84%}.product-media-gallery.product-media-gallery--with-vertical slider-component .product__media-list{margin-left:0}.product-media-gallery.product-media-gallery--with-vertical vertical-slider-component{flex-grow:1}.product-media-gallery.product-media-gallery--with-vertical vertical-slider-component .slider.slider--vertical{display:block;height:max((8vw - 10px) * 4.25,350px)}.product-page .slider-buttons{position:absolute;z-index:1;bottom:0;right:0;left:0;margin-left:auto;margin-right:auto;width:calc(100% - 20px);height:100%;justify-content:space-between}.featured-collection-slider .slider-button,.slider-button{color:rgba(var(--color-base-accent-1));background:rgba(var(--color-base-background-1));border:none;cursor:pointer;width:30px;height:30px;display:flex;align-items:center;justify-content:center;border:1px solid rgba(var(--color-base-accent-1))}.slider-buttons .slider-counter{align-self:flex-end;padding-bottom:11px}.thumbnail-slider .slider-button.slider-button--vertical{width:100%}.thumbnail-slider .slider-button.slider-button--vertical .icon{margin:0 auto}.slider-button--prev.slider-button--vertical .icon{transform:rotate(180deg)}.slider-button--next.slider-button--vertical .icon{transform:rotate(0)}.slider-button--prev.slider-button--vertical:not([disabled]):hover .icon{transform:rotate(180deg) scale(1.1)}.slider-button--next.slider-button--vertical:not([disabled]):hover .icon{transform:rotate(0) scale(1.1)}}.featured-collection-slider .slider-button{background:rgba(var(--color-base-background-1));cursor:pointer;width:30px;height:30px;align-items:center;justify-content:center;border:1px solid rgba(var(--color-base-accent-1))}.featured-collection-slider .slider-buttons{position:absolute;width:100%;top:40%;justify-content:space-between;padding:0 5px;display:flex!important}.featured-collection-slider .slider-buttons .slider-counter{display:none}.thumbnail-slider .slider-button{border:none;background-color:transparent;width:auto;height:auto}</style>
{% endif %}
<link rel="stylesheet" data-href="{{ 'section-multicolumn.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-slider.css' | asset_url }}">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<div class="multicolumn background-{{ section.settings.background_style }}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="page-width">
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}">
      <h2 class="title">
        {{ section.settings.title | escape }}
      </h2>
      {%- if section.settings.button_label != blank and section.settings.swipe_on_mobile -%}
        <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">
          {{- section.settings.button_label | escape -}}
        </a>
      {%- endif -%}
    </div>
    <slider-component class="slider-mobile-gutter">
      <ul
        class="multicolumn-list grid grid--1-col{% if section.blocks.size > 3 and section.settings.image_width != 'full' %} grid--2-col-tablet grid--4-col-desktop{% elsif section.blocks.size > 3 and section.settings.image_width == 'full' %} grid--2-col-tablet{% else %} grid--3-col-tablet{% endif %}{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}"
            {{ block.shopify_attributes }}
          >
            <div class="multicolumn-card">
              {%- if block.settings.image != blank -%}
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
                  <div
                    class="media media--transparent media--{{ section.settings.image_ratio }}"
                    {% if section.settings.image_ratio == 'adapt' %}
                      style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                    {% endif %}
                  >
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad"
                      data-srcset="
                        {%- if block.settings.image.width >= 275 -%}{{ block.settings.image | image_url: width: 275 }} 275w,{%- endif -%}
                        {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | image_url: width: 710 }} 710w,{%- endif -%}
                        {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | image_url: width: 1420 }} 1420w,{%- endif -%}
                        {{ block.settings.image | image_url }} {{ block.settings.image.width }}w
                      "
                      data-src="{{ block.settings.image | image_url: width: 550 }}"
                      sizes="
                        (min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                        (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                        calc(100vw - 30px)
                      "
                      alt="{{ block.settings.image.alt }}"
                      height="{{ block.settings.image.height }}"
                      width="{{ block.settings.image.width }}"
                      loading="lazy"
                    >
                  </div>
                </div>
              {%- endif -%}
              <div class="multicolumn-card__info">
                {%- if block.settings.title != blank -%}
                  <h3>{{ block.settings.title | escape }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.link_label != blank -%}
                  <a
                    class="link animate-arrow"
                    {% if block.settings.link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.link }}"
                    {% endif %}
                  >
                    {{- block.settings.link_label | escape -}}
                    <span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span></a
                  >
                {%- endif -%}
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>

      {%- if section.settings.swipe_on_mobile -%}
        <div class="slider-buttons no-js-hidden medium-hide{% if section.blocks.size < 2 %} small-hide{% endif %}">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      {%- endif -%}
    </slider-component>
    <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
      {%- if section.settings.button_label != blank -%}
        <a
          class="button button--primary"
          {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link }}"
          {% endif %}
        >
          {{ section.settings.button_label | escape }}
        </a>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Multicolumn",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.multicolumn.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.multicolumn.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.multicolumn.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "t:sections.multicolumn.settings.image_width.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.multicolumn.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.background_style.options__2.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.multicolumn.settings.background_style.options__3.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.multicolumn.settings.background_style.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "t:sections.multicolumn.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
