{% if template contains 'index' or template contains 'collection' or template contains 'product' %}
    
{% else %}
    <style>.multicolumn .title,.multicolumn-list h3,.multicolumn-list p{margin:0}.multicolumn.no-heading .title{display:none}.multicolumn.background-secondary .title-wrapper-with-link{margin-top:0}.multicolumn-card__image-wrapper--third-width{width:33%}.multicolumn-card__image-wrapper--half-width{width:50%}.multicolumn-list__item.center .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),.multicolumn-list__item:only-child{margin-left:auto;margin-right:auto}.multicolumn .button{margin-top:1.5rem}.multicolumn-list{margin-bottom:0;padding:0}.multicolumn-list__item:only-child{max-width:72rem}.multicolumn:not(.background-none) .multicolumn-card{height:100%}.multicolumn.background-secondary .multicolumn-card{background:rgb(var(--color-background))}.multicolumn.background-secondary{padding:4rem 0 5rem}.multicolumn-list h3{line-height:calc(1 + .5/max(1,var(--font-heading-scale)))}.multicolumn-card-spacing{padding-top:2.5rem;margin-left:2.5rem;margin-right:2.5rem}.multicolumn-card__info>:nth-child(2){margin-top:1rem}.multicolumn-list__item .media--adapt img,.multicolumn-list__item.center .media--adapt{width:auto}.multicolumn-list__item.center .media--adapt img{left:50%;transform:translate(-50%)}.background-none .multicolumn-card-spacing{padding:0;margin:0}.multicolumn-card__info{padding:2.5rem}.background-none .multicolumn-card__info{padding-top:0;padding-left:0;padding-right:0}.background-none .slider .multicolumn-card__info{padding-bottom:0;padding-left:.5rem}.background-none .multicolumn-card__image-wrapper+.multicolumn-card__info{padding-top:2.5rem}.background-none .slider .multicolumn-card__image-wrapper+.multicolumn-card__info{padding-left:1.5rem}.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info{padding-left:2.5rem;padding-right:2.5rem}.multicolumn-card__info .icon-wrap{margin-left:.8rem;white-space:nowrap}.hero-banner-media{display:block;position:relative;overflow:hidden}.hero-banner-media img:not(.zoom):not(.deferred-media__poster-button),.hero-banner-media model-viewer{max-width:100%;position:absolute;top:0;left:0;height:100%;width:100%}.hero-banner-media picture>img{object-fit:cover;object-position:center center;transition:opacity .4s cubic-bezier(.25,.46,.45,.94)}.multicolumn-card__image.multicolumn-card__image--desktop{display:block}.multicolumn-card__image.multicolumn-card__image--mobile{display:none}.multicolumn-list__item:first-of-type{padding-right:0}.multicolumn-list__item:nth-of-type(2){padding-left:0;margin-bottom:0}.multicolumn-card{border:1px solid #000;position:relative}.multicolumn.multicolumn--hero-banner .multicolumn-card__info{padding:0!important;position:absolute;z-index:1;height:100%;width:100%;display:flex}.multicolumn-card__cta .link,.multicolumn-card__info .link{font-size:1.6rem;text-decoration:underline;margin:0;text-decoration-skip-ink:none;text-underline-offset:.2rem;text-decoration-thickness:.1rem}.multicolumn-card__link.multicolumn-card__link--button{display:flex;align-items:center;text-transform:uppercase;padding:8px 10px;font-size:14px;text-decoration:none}.model-block .multicolumn-card__cta .link,.model-block .multicolumn-card__info .link{font-size:16px!important}.multicolumn-card__info-inner{width:100%;padding:10px}.multicolumn-card__cta{position:absolute;z-index:1;bottom:0;right:0}.multi-component-product-wrapper-with-model{height:100%;display:flex;flex-direction:column;justify-content:space-between}.multicolumn-card model-viewer{height:100%;width:100%}.multicolumn-list{display:flex;flex-wrap:wrap}.grid--3-col-tablet .grid__item{width:calc(50% - 10px)}@media screen and (max-width:640px){.stacked .multicolumn-list__item{width:100%}.stacked .multicolumn-list__item:first-of-type,.stacked .multicolumn-list__item:nth-of-type(2){padding:0}}@media screen and (max-width:990px){.multicolumn .page-width{padding:0}.multicolumn-list{margin:0;width:100%}.multicolumn-list__item{margin:0 0 1rem;padding:0}.multicolumn-list__item:last-of-type{margin-bottom:0;margin-left:10px}.multicolumn-list:not(.slider){padding-left:10px;padding-right:10px}.multicolumn-list.slider .multicolumn-list__item{width:calc(100% - 3rem)}.multicolumn-list.slider .multicolumn-list__item+.multicolumn-list__item{padding-left:.5rem}.multicolumn .slider__slide,.multicolumn .slider__slide:first-of-type{width:92%!important}.multicolumn .slider__slide:first-of-type{padding-left:10px}.multicolumn-list.slider .slider__slide+.slider__slide{padding-left:10px!important}.multicolumn-list.slider .slider__slide+.slider__slide:last-of-type{margin-right:10px}.multicolumn .slider__slide:last-of-type{margin-left:0}.multicolumn .slider.slider--mobile .slider__slide{margin-bottom:0;padding-bottom:5px}.multicolumn:not(.background-none) .multicolumn-card{height:auto}.multicolumn .slider--mobile+.slider-buttons{display:flex!important}.multicolumn-card__image.multicolumn-card__image--desktop{display:none}.multicolumn-card__image.multicolumn-card__image--mobile{display:block}.media--square--mobile{padding-bottom:100%}.media--portrait--mobile{padding-bottom:125%}.media--landscape--mobile{padding-bottom:66.6%}.media--cropped--mobile{padding-bottom:56%}.media--16-9--mobile{padding-bottom:56.25%}.media--2-1--mobile{padding-bottom:50%}.multicolumn-list__item:first-of-type{width:100%!important}}.multicolumn.multicolumn--hero-banner .multicolumn-list__item:only-child{max-width:none;padding:0!important}@media screen and (min-width:991px){.multicolumn.multicolumn--hero-banner .multicolumn-list__item:only-child{padding-left:10px!important}}.featured-collection-slider .grid{flex-wrap:nowrap;overflow:auto;scrollbar-width:none}.slider--everywhere,.slider.slider--mobile{position:relative;overflow-x:auto;scroll-snap-type:x mandatory;scroll-behavior:smooth;-webkit-overflow-scrolling:touch}.featured-collection-slider .grid::-webkit-scrollbar{display:none}slider-component{position:relative;display:block}slider-component ul{margin-top:0!important}vertical-slider-component .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide{width:100%}.slider__slide{scroll-snap-align:start;flex-shrink:0}.slider.slider--mobile{flex-wrap:inherit}.multicolumn .slider.slider--mobile{scroll-padding-left:7.5%}.slider.slider--mobile .slider__slide{margin-bottom:0;padding-bottom:10px}.thumbnail-slider .slider.slider--mobile .slider__slide{padding-bottom:0}@media screen and (min-width:750px){.multicolumn .button{margin-top:4rem}.multicolumn.background-secondary{padding:calc(4rem + var(--page-width-margin)) 0 calc(5rem + var(--page-width-margin))}.multicolumn-list.grid--4-col-desktop,.multicolumn-list.slider{padding:0}.grid--4-col-desktop .multicolumn-list__item,.multicolumn-list__item{padding-bottom:0}.grid--2-col-tablet .multicolumn-list__item{margin-top:1rem;max-width:50%}.background-none .grid--2-col-tablet .multicolumn-list__item{margin-top:4rem}.grid--2-col-tablet .multicolumn-list__item:nth-of-type(-n+2){margin-top:0}.background-none .multicolumn-card__image-wrapper{margin-left:1.5rem;margin-right:1.5rem}.background-none .multicolumn-list .multicolumn-card__info,.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info{padding-left:1.5rem;padding-right:1.5rem}.slider.slider--tablet-up{position:relative;flex-wrap:inherit;overflow-x:auto;scroll-snap-type:x mandatory;scroll-behavior:smooth;scroll-padding-left:1rem;-webkit-overflow-scrolling:touch}.slider.slider--tablet-up .slider__slide{margin-bottom:0;padding-bottom:10px}.slider--mobile+.slider-buttons{display:none}.product .slider--mobile+.slider-buttons{display:flex}}@media screen and (max-width:989px){.no-js slider-component .slider{padding-bottom:3rem}.slider.slider--tablet{position:relative;flex-wrap:inherit;overflow-x:auto;scroll-snap-type:x mandatory;scroll-behavior:smooth;scroll-padding-left:1rem;-webkit-overflow-scrolling:touch;margin-bottom:1rem}.slider.slider--tablet .slider__slide{margin-bottom:0;padding-bottom:10px}}.slider--everywhere{flex-wrap:inherit;margin-bottom:1rem}@media (prefers-reduced-motion){.slider--everywhere{scroll-behavior:auto}}.slider.slider--everywhere .slider__slide{margin-bottom:0;padding-bottom:0;scroll-snap-align:center}.slider{scrollbar-color:rgb(var(--color-foreground)) rgba(var(--color-foreground),.04);-ms-overflow-style:none;scrollbar-width:none}.slider::-webkit-scrollbar{height:.4rem;width:.4rem;display:none}.no-js .slider{-ms-overflow-style:auto;scrollbar-width:auto}.no-js .slider::-webkit-scrollbar{display:initial}.slider::-webkit-scrollbar-thumb{background-color:rgb(var(--color-foreground));border-radius:.4rem;border:0}.slider::-webkit-scrollbar-track{background:rgba(var(--color-foreground),.04);border-radius:.4rem}.slider-counter{margin:0 1.2rem;display:flex;min-width:2rem}.slider-counter__link{padding:1rem}@media screen and (max-width:749px){.multicolumn.no-heading.background-secondary{padding-top:5rem}.multicolumn .title-wrapper-with-link{margin-bottom:3rem}.multicolumn.background-secondary .slider-buttons{margin-bottom:-2rem}.background-none .slider .multicolumn-card__info{padding-bottom:1rem}.multicolumn.background-none .slider.slider--mobile{margin-bottom:0}.slider-counter--dots,.slider-counter--numbers{margin:0}.slider-counter__link{padding:.7rem}}.slider-counter__link--dots .dot{width:1rem;height:1rem;border-radius:50%;border:.1rem solid rgba(var(--color-foreground),.5);padding:0;display:block}.slider-counter__link--active.slider-counter__link--dots .dot{background-color:rgb(var(--color-foreground))}@media screen and (forced-colors:active){.slider-counter__link--active.slider-counter__link--dots .dot{background-color:CanvasText}}.slider-counter__link--dots:not(.slider-counter__link--active):hover .dot{border-color:rgb(var(--color-foreground))}.slider-counter__link--dots .dot,.slider-counter__link--numbers{transition:transform .2s ease-in-out}.slider-counter__link--active.slider-counter__link--numbers,.slider-counter__link--dots:not(.slider-counter__link--active):hover .dot,.slider-counter__link--numbers:hover{transform:scale(1.1)}.slider-counter__link--numbers{color:rgba(var(--color-foreground),.5);text-decoration:none}.slider-button:not([disabled]):hover,.slider-counter__link--numbers:hover{color:rgb(var(--color-foreground))}.slider-counter__link--active.slider-counter__link--numbers{text-decoration:underline;color:rgb(var(--color-foreground))}.slider-buttons{display:flex;align-items:center;justify-content:center;pointer-events:none}.slider-buttons button{pointer-events:auto}@media screen and (min-width:990px){.grid--2-col-tablet.grid--4-col-desktop .multicolumn-list__item{max-width:25%}.grid--2-col-tablet.grid--4-col-desktop .multicolumn-list__item:nth-of-type(-n+4){margin-top:0}.multi-component-product-wrapper-with-model{min-height:auto}.grid--3-col-tablet .grid__item{width:calc(33.33% - 10px)}.multicolumn-list__item:first-of-type{padding-right:0}.multicolumn-list__item:nth-of-type(2){padding-left:10px}.slider:not(.slider--everywhere)+.slider-buttons{display:none}.product .slider:not(.slider--everywhere)+.slider-buttons{display:flex}}.featured-collection-slider .slider-button,.slider-button{color:rgba(var(--color-base-accent-1));border:none;display:flex}.slider-button{background:0 0;cursor:pointer;width:30px;height:30px;align-items:center;justify-content:center}.slider-button .icon{height:.6rem}.slider-button[disabled] .icon{color:rgba(var(--color-foreground),.3);cursor:not-allowed}.slider-button--next .icon{transform:rotate(-90deg)}.slider-button--prev .icon{transform:rotate(90deg)}.slider-button--next:not([disabled]):hover .icon{transform:rotate(-90deg) scale(1.1)}.slider-button--prev:not([disabled]):hover .icon{transform:rotate(90deg) scale(1.1)}.slider-button[disabled]{background-color:transparent;cursor:not-allowed;visibility:hidden}@media screen and (min-width:1200px){.product--thumbnail_slider .product-media-gallery.product-media-gallery--with-vertical slider-component.thumbnail-slider{display:none}.product-media-gallery.product-media-gallery--with-vertical vertical-slider-component.thumbnail-slider{display:block}.product-media-gallery.product-media-gallery--with-vertical{display:flex;flex-direction:row-reverse}.product-media-gallery.product-media-gallery--with-vertical slider-component{width:84%}.product-media-gallery.product-media-gallery--with-vertical slider-component .product__media-list{margin-left:0}.product-media-gallery.product-media-gallery--with-vertical vertical-slider-component{flex-grow:1}.product-media-gallery.product-media-gallery--with-vertical vertical-slider-component .slider.slider--vertical{display:block;height:max((8vw - 10px) * 4.25,350px)}.product-page .slider-buttons{position:absolute;z-index:1;bottom:0;right:0;left:0;margin-left:auto;margin-right:auto;width:calc(100% - 20px);height:100%;justify-content:space-between}.featured-collection-slider .slider-button,.slider-button{color:rgba(var(--color-base-accent-1));background:rgba(var(--color-base-background-1));border:none;cursor:pointer;width:30px;height:30px;display:flex;align-items:center;justify-content:center;border:1px solid rgba(var(--color-base-accent-1))}.slider-buttons .slider-counter{align-self:flex-end;padding-bottom:11px}.thumbnail-slider .slider-button.slider-button--vertical{width:100%}.thumbnail-slider .slider-button.slider-button--vertical .icon{margin:0 auto}.slider-button--prev.slider-button--vertical .icon{transform:rotate(180deg)}.slider-button--next.slider-button--vertical .icon{transform:rotate(0)}.slider-button--prev.slider-button--vertical:not([disabled]):hover .icon{transform:rotate(180deg) scale(1.1)}.slider-button--next.slider-button--vertical:not([disabled]):hover .icon{transform:rotate(0) scale(1.1)}}.featured-collection-slider .slider-button{background:rgba(var(--color-base-background-1));cursor:pointer;width:30px;height:30px;align-items:center;justify-content:center;border:1px solid rgba(var(--color-base-accent-1))}.featured-collection-slider .slider-buttons{position:absolute;width:100%;top:40%;justify-content:space-between;padding:0 5px;display:flex!important}.featured-collection-slider .slider-buttons .slider-counter{display:none}.thumbnail-slider .slider-button{border:none;background-color:transparent;width:auto;height:auto}</style>
{% endif %}
<link rel="stylesheet" data-href="{{ 'section-multicolumn.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'section-hero-banner.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-slider.css' | asset_url }}">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  #MulticolumnHeroBanner--{{- section.id }} {
    background-color: {{ section.settings.background_color -}};
  }

  #MulticolumnHeroBanner--{{- section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    #MulticolumnHeroBanner--{{- section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div id="MulticolumnHeroBanner--{{- section.id }}" class="multicolumn multicolumn--hero-banner background-primary{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="page-width">
    <slider-component class="slider-mobile-gutter">
      <ul
        class="multicolumn-list grid grid--1-col{% if section.blocks.size > 3 %} grid--2-col-tablet{% else %} grid--3-col-tablet{% endif %}{% if section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- for block in section.blocks -%}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="multicolumn-list__item grid__item slider__slide{%- if model_available == true and block.settings.show_3d_model %} model-block{%- endif -%}"
            {{ block.shopify_attributes }}
          >

            {% style %}
              #Slide-{{ section.id }}-{{ forloop.index }} .hero-banner-media {
                background-color: {{ block.settings.background_color -}};
              }

              #Slide-{{ section.id }}-{{ forloop.index }} .multicolumn-card__info {
                align-items: {{ block.settings.vertical_alignment -}};
                text-align: {{ block.settings.text_alignment -}};
              }

              #Slide-{{ section.id }}-{{ forloop.index }} .multicolumn-card__title {
                color: {{ block.settings.title_color }};
              }

              #Slide-{{ section.id }}-{{ forloop.index }} .multicolumn-card__description {
                color: {{ block.settings.description_color }};
              }

              #Slide-{{ section.id }}-{{ forloop.index }} .multicolumn-card__link {
                color: {{ block.settings.link_color }};
              }

              #Slide-{{ section.id }}-{{ forloop.index }} .multicolumn-card__link.multicolumn-card__link--button {
                background-color: {{ block.settings.link_background_color -}};
                border: 1px solid {{ block.settings.link_border_color -}};
              }

              #Slide-{{ section.id }}-{{ forloop.index }} .multicolumn-card__overlay {
                display: block;
                background: {{ block.settings.overlay_color -}};
                opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 -}};
                height: calc(100% + 1px);
              }

              #Slide-{{ section.id }}-{{ forloop.index }} {
                border: {{ block.settings.border_width -}}px solid {{block.settings.border_color -}};
              }
            {% endstyle %}

            {%- liquid
              assign banner_link = block.settings.link
              assign banner_link_title = block.settings.link_label
              if block.type == 'product' and block.settings.product != blank
                assign banner_link = block.settings.product.url
                assign banner_link_title = block.settings.product.title
              endif
            -%}

            <a href="{{ banner_link }}" title="{{ banner_link_title -}}">
              <div class="multicolumn-card">
                <div class="multicolumn-card__info">
                  <div class="multicolumn-card__info-inner">
                    {%- liquid 
                      assign title = block.settings.title
                      if block.settings.product != blank and block.settings.use_product_title
                        assign title = block.settings.product.title
                      endif
                    -%}
                    {% if title != blank -%}
                      <h3 class="multicolumn-card__title">
                        {{- title -}}
                      </h3>
                    {% endif %}
                    {%- if block.settings.description != blank -%}
                      <div class="multi-component-description multicolumn-card__description">
                        {{- block.settings.description -}}
                      </div>
                    {%- endif -%}
                    {%- if block.settings.link_label != blank -%}
                      <div
                        class="link multicolumn-card__link multicolumn-card__link--{{- block.settings.link_type -}}"
                        style="display: inline-block;"
                      >
                        {{- block.settings.link_label | escape -}}
                      </div>
                    {%- endif -%}
                  </div>
                </div>

                {%- case block.type -%}
                  {%- when 'product' -%}
                    {%- liquid
                      assign model_available = false
                      if block.settings.product != blank
                        for media in block.settings.product.media
                          if media.media_type == 'model'
                            assign model_available = true
                          endif
                        endfor
                        assign roll = block.settings.roll
                        assign yaw = block.settings.yaw
                        assign pitch = block.settings.pitch
                      endif
                    -%}

                    {%- if model_available == true and block.settings.show_3d_model -%}
                      <div class="multi-component-product-wrapper multi-component-product-wrapper-with-model">
                        <div
                          class="hero-banner-media media--transparent media--{{ section.settings.image_ratio }} media--{{ section.settings.mobile_image_ratio}}--mobile"
                        >
                          {%- for media in block.settings.product.media -%}
                            {%- if media.media_type == 'model' -%}
                              {{
                                media
                                | model_viewer_tag:
                                  auto-rotate-delay: '1',
                                  image_size: '1024x',
                                  environment-image: 'neutral',
                                  auto-rotate: true,
                                  rotation-per-second: '1rad',
                                  disable-zoom: 'true'
                              }}
                              <div class="controls" style="display:none; visibility: hidden;">
                                <div>Roll: <input id="roll" value="0" size="3" class="number"> degrees</div>
                                <div>Pitch: <input id="pitch" value="0" size="3" class="number"> degrees</div>
                                <div>Yaw: <input id="yaw" value="0" size="3" class="number"> degrees</div>
                              </div>
                            {%- endif -%}
                          {%- endfor -%}
                        </div>
                      </div>
                      <script>
                        const modelViewerExists = document.querySelectorAll('model-viewer').length > 0;
                        if (modelViewerExists) {
                          const modelViewerTransform = document.querySelector('model-viewer');
                          const roll = document.querySelector('#roll');
                          const pitch = document.querySelector('#pitch');
                          const yaw = document.querySelector('#yaw');

                          var rolly = `{{ roll }}`;
                          var yawy = `{{ yaw }}`;
                          var pitchy = `{{ pitch }}`;

                          modelViewerTransform.orientation = `${rolly}deg ${pitchy}deg ${yawy}deg`;

                          const updateOrientation = () => {
                            modelViewerTransform.orientation = `${roll.value}deg ${pitch.value}deg ${yaw.value}deg`;
                          };

                          roll.addEventListener('input', () => {
                            updateOrientation();
                          });
                          pitch.addEventListener('input', () => {
                            updateOrientation();
                          });
                          yaw.addEventListener('input', () => {
                            updateOrientation();
                          });

                          // model viewer change material (colour and metallness)
                          // const modelViewer = document.querySelector('model-viewer');
                          modelViewerTransform.addEventListener('load', function () {
                            const model = document.querySelector('model-viewer');

                            const colorString = '1, 1, 1, 1';

                            const color = colorString.split(',').map((numberString) => parseFloat(numberString));

                            const metalnessDisplay = 1;

                            const roughnessDisplay = 0;

                            model.model.materials.forEach(changeMaterial);

                            function changeMaterial(material) {
                              material.pbrMetallicRoughness.setBaseColorFactor(color);
                              material.pbrMetallicRoughness.setMetallicFactor(metalnessDisplay);
                              material.pbrMetallicRoughness.setRoughnessFactor(roughnessDisplay);
                            }
                          });
                        }
                      </script>
                    {%- else -%}
                      <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width">
                        <div
                          class="hero-banner-media media--transparent media--{{ section.settings.image_ratio }} media--{{ section.settings.mobile_image_ratio}}--mobile"
                        >
                          {%- if block.settings.product != blank -%}
                            {%- style -%}
                              #Slide-{{ section.id }}-{{ forloop.index }} .multicolumn-card__image.multicolumn-card__image--product {
                                object-fit: {{ block.settings.image_fit -}};
                                {%- if block.settings.image_fit == 'contain' -%}
                                  object-position: {{ block.settings.image_position }} center;
                                {%- endif -%}
                              }
                            {%- endstyle -%}
                            {{
                              block.settings.product.featured_image
                              | image_url: width: 2880
                              | image_tag:
                                class: 'multicolumn-card__image multicolumn-card__image--product',
                                height: block.settings.featured_image.height,
                                width: block.settings.featured_image.width,
                                alt: block.settings.featured_image.alt
                              | replace: ' src="' , ' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="' | replace: ' srcset="' , ' data-srcset="' 
                            }}
                          {%- endif -%}
                          {%- if block.settings.overlay_opacity != 0 -%}
                            <div
                              class="multicolumn-card__overlay"
                            ></div>
                          {%- endif -%}
                        </div>
                      </div>
                    {%- endif -%}
                  {%- when 'banner' -%}
                    <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width">
                      <div
                        class="hero-banner-media media--transparent media--{{ section.settings.image_ratio }} media--{{ section.settings.mobile_image_ratio}}--mobile"
                      >
                        {%- if block.settings.image != blank -%}
                          {%- liquid
                            assign image_mobile = block.settings.image_mobile | default: block.settings.image
                            if section.block.size > 1
                              assign mobile_sizes = '80vw'
                            else
                              assign mobile_sizes = '100vw'
                            endif
                          -%}
                          <picture>
                            <source
                              data-srcset="
                                {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | image_url: width: 990 }} 990w,{%- endif -%}
                                {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                                {%- if block.settings.image.width >= 1280 -%}{{ block.settings.image | image_url: width: 1280 }} 1280w,{%- endif -%}
                                {%- if block.settings.image.width >= 1445 -%}{{ block.settings.image | image_url: width: 1445 }} 1445w,{%- endif -%}
                                {%- if block.settings.image.width >= 1680 -%}{{ block.settings.image | image_url: width: 1680 }} 1680w,{%- endif -%}
                                {%- if block.settings.image.width >= 2048 -%}{{ block.settings.image | image_url: width: 2048 }} 2048w,{%- endif -%}
                                {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | image_url: width: 2200 }} 2200w,{%- endif -%}
                                {%- if block.settings.image.width >= 2890 -%}{{ block.settings.image | image_url: width: 2890 }} 2890w,{%- endif -%}
                                {%- if block.settings.image.width >= 4096 -%}{{ block.settings.image | image_url: width: 4096 }} 4096w,{%- endif -%}
                                {{ block.settings.image | image_url }} {{ block.settings.image.width }}w
                              "
                              media="(min-width: 991px)"
                              ,
                              sizes="100vw / {{ section.blocks.size }}"
                            >
                            {% if image_mobile.src contains ".gif" %}
                            {{
                              image_mobile
                              | image_url: width: 1400
                              | image_tag:
                                class: 'multicolumn-card__image lazyload',
                                height: image_mobile.height,
                                width: image_mobile.width,
                                widths: '480, 720, 960, 1280, 1440, 1880, 2160, 2820',
                                sizes: mobile_sizes,
                                alt: image_mobile.alt                              
                              | replace: ' src="' , ' src="https://www.vitalydesign.com/cdn/shop/t/375/assets/Eyewear_4x5_multi_optimized.jpg" data-src="' | replace: ' srcset="' , ' data-srcset="' 
                            }}
                            {% else %}
                                {{
                                    image_mobile
                                    | image_url: width: 1400
                                    | image_tag:
                                      class: 'multicolumn-card__image lazyload',
                                      height: image_mobile.height,
                                      width: image_mobile.width,
                                      widths: '480, 720, 960, 1280, 1440, 1880, 2160, 2820',
                                      sizes: mobile_sizes,
                                      alt: image_mobile.alt                                                                     
                                    | replace: ' src="' , ' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="' | replace: ' srcset="' , ' data-srcset="'                                     
                                  }}
                            {% endif %}
                          </picture>
                        {%- endif -%}

                        {%- if block.settings.overlay_opacity != 0 -%}
                          <div
                            class="multicolumn-card__overlay"
                          ></div>
                        {%- endif -%}
                      </div>
                    </div>
                {%- endcase -%}
              </div>
            </a>
          </li>
        {%- endfor -%}
      </ul>

      {%- if section.blocks.size > 1 and section.settings.show_slider_buttons -%}
        <div class="slider-buttons no-js-hidden {% if section.blocks.size < 2 %} small-hide{% endif %}">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      {%- endif -%}
    </slider-component>
    <div class="center small-hide medium-hide">
      {%- if section.settings.button_label != blank -%}
        <a
          class="button button--primary"
          {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link }}"
          {% endif %}
        >
          {{ section.settings.button_label | escape }}
        </a>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Multicolumn Hero Banner",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Image Aspect Ratio"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "2-1",
          "label": "2/1"
        },
        {
          "value": "cropped",
          "label": "Cropped"
        },
        {
          "value": "16-9",
          "label": "16/9"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        }
      ],
      "default": "portrait",
      "label": "Desktop"
    },
    {
      "type": "select",
      "id": "mobile_image_ratio",
      "options": [
        {
          "value": "cropped",
          "label": "Cropped"
        },
        {
          "value": "16-9",
          "label": "16/9"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        }
      ],
      "default": "portrait",
      "label": "Mobile"
    },
    {
      "type": "checkbox", 
      "id": "show_slider_buttons", 
      "label": "Show Slider Buttons On Mobile",
      "default": true
    },
    {
      "type": "color", 
      "id": "background_color", 
      "label": "Background Color", 
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "header",
          "content": "Images"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Desktop Banner"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Banner"
        },
        {
          "type": "color", 
          "id": "overlay_color", 
          "label": "Overlay color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "default": 0,
          "label": "Overlay opacity"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "CTA text"
        },
        {
          "type": "select",
          "id": "link_type",
          "label": "CTA type",
          "options": [
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "button",
              "label": "Button"
            }
          ]
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Heading",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "link_color",
          "label": "CTA Text",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "link_background_color",
          "label": "CTA Background"
        },
        {
          "type": "color",
          "id": "link_border_color",
          "label": "CTA Border",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "Position"
        },
        {
          "type": "select",
          "id": "vertical_alignment",
          "label": "Vertical Position",
          "options": [
            {
              "value": "start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ],
          "default": "end"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Text Alignment"
        }
      ]
    },
    {
      "type": "product", 
      "name": "Product", 
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "select", 
          "id": "image_fit",
          "label": "Image Fit",
          "options": [
            {
              "value": "contain",
              "label": "Contain"
            },
            {
              "value": "cover",
              "label": "Cover"
            }
          ]
        },
        {
          "type": "select", 
          "id": "image_position",
          "label": "Image Position", 
          "info": "Only available if Image Fit is set to Contain",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "top"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "default": 0,
          "label": "Overlay opacity"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "checkbox", 
          "id": "use_product_title", 
          "label": "Use Product Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "CTA text"
        },
        {
          "type": "select",
          "id": "link_type",
          "label": "CTA type",
          "options": [
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "button",
              "label": "Button"
            }
          ]
        },
        {
          "type": "header",
          "content": "Position"
        },
        {
          "type": "select",
          "id": "vertical_alignment",
          "label": "Vertical Position",
          "options": [
            {
              "value": "start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Text Alignment"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Heading",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "link_color",
          "label": "Link",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "link_background_color",
          "label": "Button background",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "link_border_color",
          "label": "Button border",
          "default": "#000000"
        },
        {
          "type": "color", 
          "id": "background_color", 
          "label": "Background Color", 
          "default": "#f1f1f1"
        },
        {
          "type": "color", 
          "id": "overlay_color", 
          "label": "Overlay color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "border_width",
          "min": 0,
          "max": 5,
          "step": 1,
          "unit": "px",
          "label": "Border Width",
          "default": 0
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border Color",
          "default": "#5A5A5A"
        },
        {
          "type": "header",
          "content": "3D Model"
        },
        {
          "type": "checkbox", 
          "id": "show_3d_model",
          "label": "Display 3d Model"
        },
        {
          "type": "range",
          "id": "roll",
          "min": -100,
          "max": 100,
          "step": 5,
          "default": 0,
          "label": "Roll"
        },
        {
          "type": "range",
          "id": "pitch",
          "min": -100,
          "max": 100,
          "step": 5,
          "default": 0,
          "label": "Pitch"
        },
        {
          "type": "range",
          "id": "yaw",
          "min": -100,
          "max": 100,
          "step": 5,
          "default": 0,
          "label": "Yaw"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multicolumn Hero Banner",
      "blocks": [
        {
          "type": "banner"
        },
        {
          "type": "product"
        },
        {
          "type": "banner"
        }
      ]
    }
  ]
}
{% endschema %}
