<link rel="stylesheet" data-href="{{ 'component-rte.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'section-rich-text.css' | asset_url }}">
{% if template contains 'index' or template contains 'collection' or template contains 'product' %}
    
{% else %}
    <style>.rte:after{clear:both;content:"";display:block}.rte>p:first-child{margin-top:0}.rte li:last-child,.rte>p:last-child{margin-bottom:0}.rte table{table-layout:fixed}.rte img{display:block;height:auto;max-width:100%;margin-bottom:-.5rem}.rte ul{padding-left:2rem}.rte li{list-style:inherit}.rte a{color:rgba(var(--color-base-accent-1));text-underline-offset:.3rem;text-decoration-thickness:.1rem;transition:text-decoration-thickness var(--duration-short) ease;text-decoration-skip-ink:none}.rte a:hover{color:rgb(var(--color-link))}.rte blockquote{display:inline-flex}.rte blockquote>*{margin:-.5rem 0}.rich-text{margin:auto;text-align:center}.rich-text.rich-text--full-width{max-width:initial;width:100%}.rich-text__blocks{margin:auto;width:calc(100% - 5rem / var(--font-body-scale))}.rich-text__blocks *{overflow-wrap:break-word}.rich-text--full-width .rich-text__blocks{width:calc(100% - 8rem / var(--font-body-scale))}.rich-text--full-width.color-background-1,.rich-text:not(.rich-text--full-width){margin-top:24px}.rich-text:not(.color-background-1){padding-top:5rem;padding-bottom:5rem}@media screen and (min-width:750px){.rte table td{padding-left:1.2rem;padding-right:1.2rem}.rich-text--full-width.color-background-1,.rich-text:not(.rich-text--full-width){margin-top:24px}.rich-text--full-width .rich-text__blocks{width:calc(100% - 15rem)}}@media screen and (min-width:990px){.rich-text__blocks{max-width:78rem}}.rich-text__blocks>*{margin-top:0;margin-bottom:0}.rich-text__blocks>*+*{margin-top:2rem}.rich-text__blocks>*+a{margin-top:3rem}.sale-rich-text-heading{font-size:14px}.sale-rich-text-heading .rich-text__text{margin:5px 0 20px}</style>
{% endif %}
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

<div class="{% unless section.settings.full_width %}page-width{% endunless %} {{ section.settings.rich_text_class }}">
  <div class="rich-text color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width{% endif %}">
    <div class="rich-text__blocks">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
              {{ block.settings.heading | escape }}
            </h2>
          {%- when 'text' -%}
            <div class="rich-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
          {%- when 'button' -%}
            <a
              {% if block.settings.button_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ block.settings.button_link }}"
              {% endif %}
              class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
              {{ block.shopify_attributes }}
            >
              {{ block.settings.button_label | escape }}
            </a>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.rich-text.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.rich-text.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.rich-text.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.rich-text.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.rich-text.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.rich-text.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "text",
      "id": "rich_text_class",

      "label": "Class Name for Rich Text Section"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.rich-text.blocks.heading.settings.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.button.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.button.settings.button_style_secondary.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
